.form-inline {
	#submit {
		display: block;
	}
}

.node {
	cursor: pointer;
}

.overlay{
	background-color:#EEE;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.node text {
	font-size:10px; 
	font-family:sans-serif;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}

.templink {
	fill: none;
	stroke: red;
	stroke-width: 3px;
}

.ghostCircle.show{
	display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
	display: none;
}

.search {
    form > div > div {
        width: 100%;
    }
}