{% extends 'TreeBundle::base.html.twig' %}

{% block body -%}
<div class="container">
	<div class="row">
    <div id="links">
		{% for file in files %}
			<a href="/uploads/gallery/{{ file }}" class="photo-gal">
				<img src="{{ ("uploads/gallery/" ~ file) | apply_filter('gallery') }}" style="width:200px; height: 200px">
			</a>
		{% endfor %}
	</div>
	</div>
</div>

<script src="/js/jquery.colorbox.js" type="text/javascript"></script>
<script>
$(document).ready(function(){
	$(".photo-gal").colorbox(
	{
		rel:'photo-gal',  
		width:"80%", 
		height:"80%",
		title: function()
		{
			var download = "<a href=\"" + $(this).attr('href') + "\" download class=\"btn btn-default download\">{{ 'Download' | trans }}</a>";
			return download;
		}
	});
});
</script>

{% endblock %}