{% form_theme form "@Tree/Form/forms.html.twig" %}

<div class="fileupload">
    {{ form_start(form, {'attr': {'class' : 'ajaxform', 'id' : "file_edit"}}) }}
    <div class="preview">
        {% if file.type == constant("GalleryBundle\\Entity\\File::FILE_IMAGE") %}
            <img src="{{ "/uploads/files/" ~ file.file }}" alt="">
        {% elseif file.type == constant("GalleryBundle\\Entity\\File::FILE_DOCUMENT") %}
            <iframe src="{{ "/uploads/files/" ~ file.file }}" frameborder="0"></iframe>
        {% elseif file.type == constant("GalleryBundle\\Entity\\File::FILE_VIDEO") %}
            <iframe src="{{ "/uploads/files/" ~ file.file }}" frameborder="0"></iframe>
        {% endif %}
    </div>
    <div class="controls">
        <div class="data">
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            <div class="person_tags">
                {% for personTag in file.personTags %}
                    <div class="person_tag" {% if personTag.meta %}data-coordinates='{{ personTag.meta | json_encode | raw }}'{% endif %}>
                        <a href="{{ path("person_show", {'id' : personTag.person.id }) }}">
                            {{ personTag.person.names }}
                        </a>
                        {% if personTag.meta == "" %}
                            <a href="{{ path("person_tag_update", {'id':personTag.id}) }}" class="person_tag_on" data-id="{{ personTag.person.id }}" data-names="{{ personTag.person.names }}">&#9986;</a>
                        {% endif %}
                        <a href="{{ path("person_tag_delete", {'id' : personTag.id }) }}" class="person_tag_delete ajaxlink">&#10006;</a>
                    </div>
                {% endfor %}
                <button class="tag_person">{{ 'Tag person' | trans }}</button>
            </div>
        </div>
        <div class="meta">
            {{ form_row(form.type) }}
            {% if form.year is defined %}
                {{ form_row(form.year) }}
            {% endif %}
            {% if form.isBackground is defined %}
                {{ form_row(form.isBackground) }}
            {% endif %}
            {{ form_row(form.submit) }}
            {{ form_row(form.delete) }}

        </div>
    </div>
    {#<div class="status">
        <div class="progress">
            <div class="progressbar">
                <span class="state"></span>
            </div>
        </div>
    </div>#}
    <div class="file_actions">

    </div>
    {{ form_end(form) }}
</div>