<div class="galleryfile">
    <div class="preview">
        <img src="{{ ('/uploads/files/' ~ file.file) }}" alt="{{ file.title }}">
    </div>
    <div class="info">
        <div class="header">
            {% if file.title %}
                <h3>{{ file.title }}</h3>
            {% endif %}
            <a href="{{ ('/uploads/files/' ~ file.file) }}" download class="file_download">{{ 'Download' | trans }}</a>
        </div>
        {% if file.description %}
            <p class="description">
                {{ file.description }}
            </p>
        {% endif %}

        <div class="person_tags">
            {% for personTag in file.personTags %}
                <a class="person_tag" href="{{ path("person_show", {'id' : personTag.person.id }) }}" {% if personTag.meta %}data-coordinates='{{ personTag.meta | json_encode | raw }}'{% endif %}>
                    {{ personTag.person.names }}
                </a>
            {% endfor %}
        </div>
    </div>
</div>