{% extends 'TreeBundle::base.html.twig' %}
{%- block title -%}
    {{ 'Gallery' | trans }}
{%- endblock -%}

{% block body -%}
    <div class="galleryfile">
        <div class="preview">
            {% if file.type == constant("GalleryBundle\\Entity\\File::FILE_IMAGE") %}
                <img src="{{ "/uploads/files/" ~ file.file }}" alt="">
            {% elseif file.type == constant("GalleryBundle\\Entity\\File::FILE_DOCUMENT") %}
                <iframe src="{{ "/uploads/files/" ~ file.file }}" frameborder="0"></iframe>
            {% elseif file.type == constant("GalleryBundle\\Entity\\File::FILE_VIDEO") %}
                <iframe src="{{ "/uploads/files/" ~ file.file }}" frameborder="0"></iframe>
            {% endif %}
        </div>
        <div class="info">
            <div class="header">
                <h3>{{ file.title }}</h3>
                <a href="{{ ('/uploads/files/' ~ file.file) }}" download class="file_download">{{ 'Download' | trans }}</a>
            </div>
            {% if file.description %}
                <p class="description">
                    {{ file.description }}
                </p>
            {% endif %}

            <div class="person_tags">
                {% for personTag in file.personTags %}
                    <a class="person_tag" href="{{ path("person_show", {'id' : personTag.person.id }) }}" {% if personTag.meta %}data-coordinates='{{ personTag.meta | json_encode | raw }}'{% endif %}>
                        {{ personTag.person.names }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
