<div class="fileupload">
    {{ form_start(form, {'attr': {'class' : 'ajaxform'}}) }}
    <div class="preview">
        <img src="" alt="" style="display: none;">
    </div>
    <div class="controls">
        <div class="data">
            {{ form_row(form.file_file) }}
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
        </div>
        <div class="meta">
            {{ form_row(form.type) }}
            {% if form.year is defined %}
                {{ form_row(form.year) }}
            {% endif %}
            {% if form.isBackground is defined %}
                {{ form_row(form.isBackground) }}
            {% endif %}
            {{ form_row(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% if form.isBackground is defined %}
    <script>
        $(document).on("change", "#{{ form.file_file.vars.id }}", function (e) {
            var input = $(this);
            input = input[0];
            var type = e.target.files[0].type;
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    if (type == "image/jpeg") {
                        $('.preview img').show();
                        $('.preview img').attr('src', e.target.result);
                        if ($(".preview img")[0].naturalWidth > 1000) {
                            alert("This image can be used as background");
                        }
                    }
                };
                reader.readAsDataURL(input.files[0]);
            }

        });
    </script>
{% endif %}

