.popover {
 max-width: none;
}

.glyphicon {
 margin-right:.25em;
}

.table-bordered>thead>tr>td {
 border-bottom-width: 1px;
}

.table tbody>tr>td, .table thead>tr>td {
 padding-top: 3px;
 padding-bottom: 3px;
}

.table-condensed tbody>tr>td {
 padding-top: 0;
 padding-bottom: 0;
}

.table .progress {
 margin-bottom: inherit;
}

.table-borderless th, .table-borderless td {
 border: 0 !important;
}

.table tbody td.success, li.success, span.success {
 background-color: #dff0d8;
}

.table tbody tr.danger, .table tbody td.danger, li.danger, span.danger {
 background-color: #f2dede;
}

.table tbody td.warning, li.warning, span.warning {
 background-color: #fcf8e3;
}

.table tbody td.info {
 background-color: #d9edf7;
}

td.big {
 width: 117px;
}

td.small {
}

td.codeLine {
 font-family: monospace;
 white-space: pre;
}

td span.comment {
 color: #888a85;
}

td span.default {
 color: #2e3436;
}

td span.html {
 color: #888a85;
}

td span.keyword {
 color: #2e3436;
 font-weight: bold;
}

pre span.string {
 color: #2e3436;
}

span.success, span.warning, span.danger {
 margin-right: 2px;
 padding-left: 10px;
 padding-right: 10px;
 text-align: center;
}

#classCoverageDistribution, #classComplexity {
 height: 200px;
 width: 475px;
}

#toplink {
 position: fixed;
 left: 5px;
 bottom: 5px;
 outline: 0;
}

svg text {
 font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
 font-size: 11px;
 color: #666;
 fill: #666;
}

.scrollbox {
 height:245px;
 overflow-x:hidden;
 overflow-y:scroll;
}

/*pasha*/

body {
    background-color: #29c053;
    margin-bottom: 80px;
}
.table th, .table td { 
     border-top: none; 
 }
 table td {
    border-top: none;
}
.header {
background-color: #fff;
width: 100%;
padding-right: 100px;
padding-left: 100px;
}
h1 {
color: #fff;
text-transform: uppercase;
}
.form-control {
 margin: 2px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td { border: 0; padding: 3px; }
.navbar-header, .navbar-collapse{
padding: 20px 0 20px 0;
}
.profile-photo{
    width:80%;
    margin: 0 auto;
}
.img-round {
    border-radius: 50%;
    border: 8px solid white;
    box-shadow: 0 0 7px #666;
   }
.special-files{
    padding-top: 50px;
}
.special-files span{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
}
.documents {

    width: 100%;
   }
.document-href img{
    width: 80px;
    height: 80px;
    border-radius: 5%;
    border: 3px solid white;
    box-shadow: 0 0 7px #666;
    margin-bottom: 10px;
   }
.profile {

    padding: 50px 0 0 0;
}
.profile ul li{
color: #fff;
font-weight: bold;
font-size: 24px;
text-transform: uppercase;
}
.profile-info {
padding-top: 100px;
list-style: none;
font-size: 18px;
color: #fff;
}
.profile-info .tlabel {

width: 180px;
}
.documents {
list-style: none;
}
.documents a {
    float: left;
    padding-right: 20px;
   }
.gallery{
padding-top: 50px;
}
.gallery span{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
}
.profile-gallery{
width: 100%;
}
.profile-gallery li{
    width: 20%;
    float: left;
    padding-right: 40px;
}
.photo-round {
    border-radius: 5%;
    border: 3px solid white;
    box-shadow: 0 0 7px #666;
}
.footer {
    background-color: #fff;
    padding: 20px 0 20px 0;
    height: 80px;
    color: 29c053;
}
.main
{
padding-top: 150px;
color: #fff;
}
.main span{
padding: 0px 5px 0px 5px;
font-weight:bold;
}


.photos {
list-style: none;
}
.photos a {
    float: left;
    padding-right: 20px;
   }
   
   
   .header:after {
      background-color:#fff;
     position:absolute;
    content:"";
    left:0;
    right:0;
    height:15px;
    top:40px;
}
.editinfo .control-label
{
color: #fff;
text-transform: uppercase;
text-align: left;
}
.container {
width: 1400px;
}
.header{
width: 100%;
}
.add-button{
display: block;
width: 80px;
height: 80px;
border: 4px solid #fff;
border-radius: 50%;
float: left;
text-align: center;
color: #fff;
font-weight: bold;
padding-top: 0px; 
font-size: 52px;
}
ul {
list-style: none;
padding: 0;
}
.relations ul li{
color: #fff;
font-size: 14px;
font-weight: normal;
}
.relations label{
color: #fff;
font-size: 14px;
font-weight: bold;
text-transform:uppercase;
}
.relations .form-control
{
/*background: #367E3C;*/
border: 0;
color: #fff;
font-weight: bold;
text-transform: uppercase;
}
.relations span{
color: #fff;
font-size: 14px;
font-weight: normal;
}
.contact{
padding-top: 100px;
}
.contact div
{
padding-left: 0;
padding-right: 10px;
margin-left: 0;
margin-right: 0;
}
.contact p{
color: #fff;
}
.contact input, .contact textarea{
width: 100%;
margin-bottom: 6px;
}
textarea{
padding: 6px 12px;
border: 1px solid #ccc;
border-radius: 4px;
}
/*.main .form-control { width: 230px;}*/
.date
{
width:32%;
}
.profile span.title {
color: #fff;
font-weight: bold;
text-transform: uppercase;
font-size:32px;
}
.add-photo{
padding-top: 20px;
}
.add-document{
padding-top: 20px;
}
.grbutton{
background: #367E3C;
border: 0;
color: #fff;
font-weight: bold;
text-transform: uppercase;
width:120px;
}
.search .search-button#submit{
background: #367E3C;
border: 0;
color: #fff;
font-weight: bold;
text-transform: uppercase;
width: 30%;
/*position: absolute;
right: 23%;*/
display: inline-block;
position: relative;
bottom: 9px;
left: 296px;
}

.plus-button, .minus-button
{
display: block;
width: 38px;
height: 38px;
border: 3px solid #fff;
border-radius: 50%;
float: left;
text-align: center;
color: #fff;
font-weight: bold;
padding-top: 0px;
font-size: 22px;
background: #29c053;
}
.plus-button:hover, .minus-button:hover {
text-decoration: none;
color: #fff;
}
.plus
.form-control{
border: 0;
border-radius: 3px;
}
.main .row{
padding-bottom: 5px;
}
.main .input-group{
margin-left: 15px;
}
.main p{
margin-right: 35px;
}
.header .land-href{
border: 3px #5CD57E solid;
border-radius: 50%;
color: #5CD57E;
margin-right: 30px;
width: 56px;
text-align: center;
font-weight: bold;
font-size: 16px;
}
.header .land-href:hover{
background: #fff;
border: 3px #29c053 solid;
color: #29c053;
}
.header .menu-href{
color: #fff;
background: #29c053;
border-radius: 5px;
font-weight: bold;
width: 190px;
height: 50px;
text-align: center;
margin-right: 35px;
}
.header .menu-href:hover{
background: #5CD57E;
}
.contact .form-control {width: 100%;margin-bottom: 6px;}
.editinfo .plus-button {
position: absolute;
right: -32px;
top: 0;
}
.document-href .img-round{
border-radius:50%;
}
.document-href{
font-size: 12px;
color: #fff;
text-align: center;
}
.table .tdata{
font-weight: normal;
}
.table td{
font-weight: bold;
}
.profile .grbutton{
width: 160px;
margin-bottom: 10px;
}


.tree
{
padding-top: 50px;
}


.customselect{
    width:100%;
    overflow:hidden;
   
   
}

.customselect select{
    width: 100%;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background: #367E3C url("http://www.iconsdb.com/icons/download/white/arrow-204-16.png") no-repeat 210px center;
}
.selected
{
width: 100%;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background: url("http://www.iconsdb.com/icons/download/white/star-16.png") no-repeat 210px center;
}

.search ul .form-group {
    width: 50%;
}
.search ul .form-group:nth-child(1) {
    padding-right: 10px;
}

.search .form-group .bc-collection li + li {
    margin-top: 0;
}

.search ul .form-group .form-control {
    width: 100%;
}

.search ul .minus-button {
    margin-left: 27px;
}

.search .bc-collection li:nth-child(1) {
    position: absolute;
    right: 142px;
    z-index: 1;
    bottom: 47px;
}

.search .bc-collection li:nth-child(2) .minus-button {
    display: none;
}

.text-white {
    color: #fff;
}

.text-white a {
    color: #fff;
}

svg circle.current.node {
    fill: #fff;
}