{% block file_widget %}
    {% spaceless %}
        {% if image_url is defined and image_url is not null %}
            <a href="{{ asset(image_url) }}" data-imagelightbox="a"><img src="{{ asset(image_url) | imagine_filter('gallery_thumb') }}" alt="{{ photo.description|default(asset(image_url)) }}"/></a>
        {% elseif file_url is defined %}
            <a href="{{ asset(file_url) }}">{{ asset(file_url) }}</a>
        {% endif %}
        {{ block('form_widget') }}
    {% endspaceless %}
{% endblock %}

{%- block person_tag_widget -%}
    <div class="person_row">
        {% for child in form %}
            {{ form_widget(child) }}
        {% endfor %}
    </div>
{%- endblock -%}