{% extends 'TreeBundle::base.html.twig' %}

{% block container -%}
    <h1>Changes edit</h1>
    {{ form(edit_form) }}
<ul class="record_actions">
    <li>
        <a href="{{ path('changes') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
