{% extends 'TreeBundle::base.html.twig' %}

{% block container -%}
    <div class="col-md-12">
        <div class="profile">
            <h2>{{ 'Changes list'|trans }}</h2>
            <table class="records_list table table-striped table-hover">
                <thead>
                <tr>
                    <th>{{ 'Id'|trans }}</th>
                    <th style="width: 80px;">{{ 'Date'|trans }}</th>
                    <th style="width: 180px;">{{ 'Author'|trans }}</th>
                    <th style="width: 180px;">{{ 'Person'|trans }}</th>
                    <th>{{ 'Comment'|trans }}</th>
                    <th>{{ 'Region'|trans }}</th>
                    <th style="width: 100px;">{{ 'Field'|trans }}</th>
                    <th>{{ 'Current'|trans }}</th>
                    <th>{{ 'Suggested'|trans }}</th>
                    <th style="width: 60px;">{{ 'Actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>
                            <a href="{{ path('changes_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                        </td>
                        <td>
                            {{ entity.pdate|date('d/m/Y') }}
                        </td>
                        <td>
                            {{ entity.author }}
                        </td>
                        <td>
                            <a href="{{ path('changes_show', { 'id': entity.id }) }}">{{ entity.person.names }}</a>
                        </td>
                        <td>
                            {{ entity.comment }}
                        </td>
                        <td>
                            {{ entity.region }}
                        </td>
                        <td>
                            {% for change in entity.changes %}
                                <p><b>{{ change.field }}</b></p>
                                <hr>
                            {% endfor %}
                        </td>
                        <td class="change">
                            {% for change in entity.changes %}
                                {% if attribute( entity.person, change.field ).timestamp is defined %}
                                    {{ attribute( entity.person, change.field )|date('Y-m-d') }}
                                {% else %}
                                    {% if change.field == "avatar" %}
                                        <img src="{{ attribute( entity.person, change.field ) }}" class="img-responsive">
                                    {% else %}
                                        <p>{{ attribute( entity.person, change.field) }}&nbsp;</p>
                                    {% endif %}
                                {% endif %}
                                <hr>
                            {% endfor %}
                        </td>
                        <td class="change">
                            {% for change in entity.changes %}
                                <p>
                                    {{ change.value | raw }}&nbsp;
                                </p>
                                <hr>
                            {% endfor %}
                        </td>
                        <td>
                            <form method="POST" action="{{ path('accept',{'id':entity.id}) }}">
                                <button class="accept"></button>
                            </form>

                            <form method="POST" action="{{ path('decline',{'id':entity.id}) }}">
                                <button class="decline"></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="/js/jquery.colorbox.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $(".accept").click(function (event) {
                if (confirm("{{ 'Are you sure you want to apply this change to database?'|trans }}")) {

                } else {
                    event.preventDefault();
                }
            });
            $(".decline").click(function (event) {
                if (confirm("{{ 'Are you sure you want to delete this suggestion?'|trans }}")) {

                } else {
                    event.preventDefault();
                }
            });

            $(".cbox").click(function () {
                $(this).colorbox(
                        {
                            href: $(this).attr('src'),
                            width: "75%",
                            height: "75%",
                            photo: "true",
                            title: function () {
                                var download = "<a href=\"" + $(this).attr('src') + "\" download class=\"btn btn-default\">{{ 'Download' | trans }}</a>";
                                return download;
                            }
                        });
            });
        });
    </script>
{% endblock %}
