{% extends 'TreeBundle::base.html.twig' %}

{% block container -%}
    <h1>Changes creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('changes') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
