{% extends 'TreeBundle::base.html.twig' %}

{% block body -%}
<div class="col-md-6 fixed" id="profile-edit">	
	<div class="profile edit">
		<div class="profile-avatar" title="Change the avatar">
			{% if changes['avatar']|length > 0 %}{{ changes['avatar'] | raw }}{% else %}<img alt="Avatar" src="{{ person.avatar }}" class="img-responsive profile-photo ">{% endif %}
		</div>
		<div class="profile-info">
			<ul>
				<li class="str_edit"><span class="change">{{ changes['lastName'] }}</span>{% if changes['lastName']|length > 0 %}<span class="old"> ({{ person.lastName}})</span>{% else %}{{ person.lastName}}{% endif %}</li>
				<li class="str_edit"><span class="change">{{ changes['firstName'] }}</span>{% if changes['firstName']|length > 0 %}<span class="old"> ({{ person.firstName}})</span>{% else %}{{ person.firstName}}{% endif %}</li>
				<li class="str_edit"><span class="change">{{ changes['nickname'] }}</span>{% if changes['nickname']|length > 0 %}<span class="old"> ({{ person.nickname}})</span>{% else %}{{ person.nickname}}{% endif %}</li>
			</ul>
		</div>
		<div class="action-buttons">
			<a href="{{ path('person_show',{'id': person.id}) }}"><button type="button" class="btn">{{ 'Show profile'|trans }}</button></a>
			<form method="POST" action="{{ path('accept',{'id':entity.id}) }}">
				<button>{{ 'Accept'|trans }}</button>
			</form>
			<form method="POST" action="{{ path('decline',{'id':entity.id}) }}">
				<button>{{ 'Delete'|trans }}</button>
			</form>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="profile">
		<table class="table profile-details">
			<tr>
				<td class="tlabel">{{ 'Id'|trans }}:</td>
				<td>{{person.id}}</td>
			</tr>
			<tr>
				<td class="tlabel">{{ 'Sex'|trans }}:</td>
				<td><span class="change">{% if changes['sex']|length > 0 %}{% if changes['sex'] == 1 %}{{ 'Male'|trans }}{% else %}{{ 'Female'|trans }}{% endif %}{% endif %}</span>{% if changes['sex']|length > 0 %}<span class="old"> ({% if person.sex == 1 %}{{ 'Male'|trans }}{% else %}{{ 'Female'|trans }}{% endif %})</span>{% else %}{% if person.sex == 1 %}{{ 'Male'|trans }}{% else %}{{ 'Female'|trans }}{% endif %}{% endif %}</td>
				
			</tr>
			<tr>
				<td class="tlabel">{{ 'Birth'|trans }}:</td>
				<td><span class="change">{% if changes['birth']|length > 0 %}{{ changes['birth']|date('d/m/Y') }}{% endif %}</span>{% if changes['birth']|length > 0 %}<span class="old"> {% if person.birth|length > 0 %}({{ person.birth|date('d/m/Y') }}){% endif %}</span>{% else %}{{ person.birth|date('d/m/Y') }}{% endif %}</td>
			</tr>
			<tr>
				<td class="tlabel">{{ 'Birth place'|trans }}:</td>
				<td><span class="change">{{ changes['birthPlace'] }}</span>{% if changes['birthPlace']|length > 0 %}<span class="old"> ({{ person.birthPlace}})</span>{% else %}{{ person.birthPlace}}{% endif %}</td>
			</tr>
			<tr>
				<td class="tlabel">{{ 'Occupation'|trans }}:</td>
				<td><span class="change">{{ changes['occupation'] }}</span>{% if changes['occupation']|length > 0 %}<span class="old"> ({{ person.occupation}})</span>{% else %}{{ person.occupation}}{% endif %}</td>
			</tr>
			<tr>
				<td class="tlabel">{{ 'Death'|trans }}:</td>
				<td><span class="change">{% if changes['death']|length > 0 %}{{ changes['death']|date('d/m/Y') }}{% endif %}</span>{% if person.death|length > 0 %}{{ person.death|date('d/m/Y') }}{% endif %}</td>
			</tr>
			<tr>
				<td class="tlabel">{{ 'Place of death'|trans }}:</td>
				<td><span class="change">{{ changes['deathPlace'] }}</span>{% if changes['deathPlace']|length > 0 %}<span class="old"> ({{ person.deathPlace}})</span>{% else %}{{ person.deathPlace}}{% endif %}</td>
			</tr>
			<tr>
				<td class="tlabel">{{ 'Note'|trans }}:</td>
				<td class="area_edit" ><span class="change">{{ changes['note'] }}</span>{% if changes['note']|length > 0 %}<span class="old"> ({{ person.note}})</span>{% else %}{{ person.note}}{% endif %}</td>
			</tr>
			<tr>
				<td class="tlabel">{{ 'Private note'|trans }}:</td>
				<td class="area_edit">{{ person.privateNote }}</td>
			</tr>
		</table>
	</div>
	<div class="profile">
		<table class="table profile-details">
			<tr>
				<td class="tlabel">{{ entity.author }}:</td>
				<td class="area_edit">{{ entity.comment }}</td>
			</tr>
		</table>
	</div>
</div>
	
<div class="col-md-6 relfixed">
	{#{% for change in entity.changes %}
	<p>
		<b>{{ change.field }}</b><br/>
		{% if attribute( entity.person, change.field ).timestamp is defined %}
		{{ attribute( entity.person, change.field )|date('Y-m-d') }} => {{ change.value }}
		{% else %}
		{{ attribute( entity.person, change.field ) }} => {{ change.value }}
		{% endif %}
	</p>
	{% endfor %}#}

	<div class="parents profile">
			<h2>{{ 'Parents'|trans }}</h2>
			{% for parent in person.parents %}
			<div class="relative {% if parent.id in changes['parents_remove'] %}remove{% endif %}" id="{{ parent.id }}" >
				<div class="photo">
					<a href="{{ path('person_show',{ 'id':parent.id }) }}">
						<img src="{{ parent.avatar| apply_filter('relative')}}"/>
					</a>
				</div>
				<div class="name">
					<a href="{{ path('person_show',{ 'id':parent.id }) }}">
						<span>{{ parent.lastName }}</span><br>
						<span>{{ parent.firstName }}</span><br>
						<span>{{ parent.nickname }}</span>
					</a>
				</div>
				<div class="date">
					{{ parent.dates }}
				</div>
				<button class="remove-revative">X</button>
			</div>
			{% endfor %}
			<div class="clearfix"></div>
	</div>
	
	<div class="couses profile">
		<h2>{{'Spouses'|trans}}</h2>
			{% for couse in person.marriages %}
			<div class="relative parent {% if couse.id in changes['couse_remove'] %}remove{% endif %}" id="{{ couse.id }}" data-child="{% for child in couse.children %}{% if loop.index> 1 %},{% endif %}{{ child.id }}{% endfor %}">
				<div class="photo">
					<a href="{{ path('person_show',{'id':couse.id}) }}" >
						<img src="{{ couse.avatar| apply_filter('relative') }}"/>
					</a>
				</div>
				<div class="name">
					<a href="{{ path('person_show',{'id':couse.id}) }}">
						<span>{{couse.lastName}}</span><br>
						<span>{{couse.firstName}}</span><br>
						<span>{{couse.nickname}}</span>
					</a>
				</div>
				<div class="date">
					{{ couse.dates }}
				</div>
				<button class="remove-revative">X</button>
			</div>
			{% endfor %}
			<div class="clearfix"></div>
	</div>

	<div class="children profile">
		<h2>{{'Children'|trans}}</h2>
		{% for child in person.children %}
			<div class="relative child {% if child.id in changes['child_remove'] %}remove{% endif %}" id="{{ child.id }}" >
				<div class="photo">
					<a href="{{ path('person_show',{'id':child.id}) }}">
						<img src="{{ child.avatar| apply_filter('relative') }}"/>
					</a>
				</div>
				<div class="name">
					<a href="{{ path('person_show',{'id':child.id}) }}" data-parent="{% for parent in child.parents %}{% if parent.id != entity.id %}{{ parent.id }}{% endif %}{% endfor %}">
						<span>{{ child.lastName }}</span><br>
						<span>{{ child.firstName }}</span><br>
						<span>{{ child.nickname }}</span>
					</a>
				</div>
				<div class="date">
					{{ child.dates }}
				</div>
				<button class="remove-revative">X</button>
			</div>
		{% endfor %}
		<div class="clearfix"></div>
	</div>

	<div class="bro profile">
		<h2>{{'Brothers and sisters'|trans}}</h2>
		{% for bro in person.brotherhood %}
			<div class="relative {% if bro.id in changes['bro_remove'] %}remove{% endif %}" id="{{ bro.id }}">
				<div class="photo">
					<a href="{{ path('person_show',{'id':bro.id}) }}">
						<img src="{{ bro.avatar| apply_filter('relative') }}"/>
					</a>
				</div>
				<div class="name">
					<a href="{{ path('person_show',{'id':bro.id}) }}">
						<span>{{ bro.lastName }}</span><br>
						<span>{{ bro.firstName }}</span><br>
						<span>{{ bro.nickname }}</span>
					</a>
				</div>
				<div class="date">
					{{ bro.dates }}
				</div>
				<button class="remove-revative">X</button>
			</div>
		{% endfor %}
		<div class="clearfix"></div>
	</div>
</div>
{% endblock %}
