{% extends 'TreeBundle::base.html.twig' %}

{% block container -%}
    <div class="row">
		<div class="col-md-6">
			<div class="profile">
				<h2>{{'Profile'|trans}}</h2>
				logged as {{ app.user }}
				<div class="clearfix"></div>
				<a href="{{ path('fos_user_change_password') }}" class="btn btn-success unlock">{{ 'Change password'|trans }}</a>
			</div>
			<div class="profile">
				<h2>{{'Messages'|trans}}</h2>
				<div class="clearfix"></div>
			</div>
			<div class="profile">
				<h2>{{'Activity log'|trans}}</h2>
				<table class="table table-striped table-hover managers">
				{% for action in activity %}
					<tr>
						<td>{{ action.date|date("d/m/y") }}
						<td>{{ action.action }} <b><a href="{{ path("person_show",{"id" : action.person.id } ) }}">{{ action.person }}</a></b> {{ 'profile'|trans }} {{ 'field'|trans }} <b>{{ action.field }}</b> from <b>{{ action.valueold }}</b> to <b>{{ action.valuenew }}</b>  </td>
					</tr>
				{% endfor %}
				</table>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
    <script type="text/javascript">
        var xhr = new XMLHttpRequest();
        path = "{{ path('lock_user') }}";
        xhr.onreadystatechange=function(){
            if (xhr.status == 200) {
                location.href = location.href;
            }
        }
        $('.lock').click(function(){
            xhr.open("POST", path, true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
            params = 'id='+$(this).data('user')+'&locked=1';
            xhr.send(params);
        })
        $('.unlock').click(function(){
            xhr.open("POST", path, true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
            params = 'id='+$(this).data('user')+'&locked=0';
            xhr.send(params);
        })
    </script>

    
{% endblock %}
