{% extends 'TreeBundle::base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}
{% block body -%}    
    <div class="profile register">
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
{% endblock %}