<div class="add_relative">
    <div class="header">
        <div class="title">
            <h2>{{ title }}</h2>
        </div>
        <div class="actions">
            <a href="{{ path("person_new") }}" class="btn btn-block btn-default">{{ 'Create new' | trans }}</a>
        </div>
    </div>
    <div class="search">
        <input type="text" id="search" placeholder="Person search">
        <div class="title">

        </div>
        <div id="search_results">

        </div>
    </div>
    {% if suggestions | length > 0 %}
        <div class="suggestions">
            <h2>{{ 'Possible relatives' | trans }}</h2>
            <div>
                {% for person in suggestions %}
                    <div class="person">
                        <a class="person_tile" href="/person/8445">
                            <div class="photo"><img src="/media/cache/relative/uploads/photos/8445-27.jpg"></div>
                            <div class="info"><p>De Santa</p>
                                <p>Bruno Tommaso Luigi </p>
                                <p class="secondary">Guol - Pitaciu - Ciuffo</p>
                                <p class="date">1957</p></div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>

<script>
    $("#search").autocomplete(function (response) {
        var persons = response.suggestions;
        $("#search_results").empty().html("<h2>{{ 'Search results' | trans }}</h2>");
        persons.forEach(function (person) {
            var $person_tile = $("<div />", {
                'class': 'person'
            });
            var addUrl = '{{ baseUrl }}'.replace("__relative__", person.id);
            var tile_content = '<a class="person_tile ajaxlink" href="' + addUrl + '">' +
                    '<div class="photo"><img src="/media/cache/relative' + person.photo + '"></div>' +
                    '<div class="info"><p>' + person.lastname + '</p>' +
                    '<p>' + person.firstname + '</p>' +
                    '<p class="secondary">' + person.nickname + '</p>' +
                    '<p class="date">' + person.dates + '</p></div>' +
                    '</a>';

            $person_tile.css({
                'cursor': 'pointer'
            });

            $person_tile.html(tile_content);


            $("#search_results").append($person_tile);
        });
    });
</script>