{% extends 'TreeBundle::base.html.twig' %}
{% block title -%} {{ 'Edit person'|trans|title }} {{ person.lastName|title }} {{ person.firstName|title }} {{ person.nickname|title }} {% endblock %} 
{% block stylesheets %}

{% endblock %}
{% block body -%}

    <div class="col-md-6 fixed" id="profile-edit">
        <div class="block edit">
            <div class="profile-avatar" title="Change the avatar">
                <a href="{{ path("edit_avatar_action", {'id' : person.id}) }}" class="ajaxlink">
                    <img alt="Avatar" src="{{ person.avatarUrl }}" class="img-responsive">
                </a>
            </div>
            <div class="profile-info">
                <ul>{{ form_start(edit_form) }}
                    <li class="str_edit" data-bind="surname">{{ form_widget(edit_form.lastName, {'attr': {'placeholder': 'Last Name', 'tabindex' : '1'} }) }}</li>
                    <li class="str_edit" data-bind="name">{{ form_widget(edit_form.firstName, {'attr': {'placeholder': 'First Name', 'tabindex' : '2'} }) }}</li>
                    <li class="str_edit" data-bind="nickname">{{ form_widget(edit_form.nickname, {'attr': {'placeholder': 'Nick Name', 'tabindex' : '3'} }) }}</li>
                </ul>
            </div>
            <div class="action-buttons">
                {{ form_widget(edit_form.delete, {'attr': {'class': 'btn-danger', 'style' : 'color: #fff;'}}) }}
                <a href="{{ path('person_show',{'id': person.id}) }}">
                    <button type="button" class="">{{ 'Show profile'|trans }}</button>
                </a>
                <a class="ajaxlink" href="{{ path("person_upload_file", {'id' : person.id} ) }}">
                    <button type="button" class="">{{ 'Add file'|trans }}</button>
                </a>
                <a class="popuplink" href="#files">
                    <button type="button" class="">{{ 'Files'|trans }}</button>
                </a>
                {{ form_widget(edit_form.submit, {'attr': {'class': 'green', 'style' : 'color: #fff;'}}) }}
                {{ form_widget(edit_form._token) }}
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="block">
            <table class="table profile-details">
                <tr>
                    <td class="tlabel">{{ 'Id'|trans }}:</td>
                    <td class="">{{ person.id }}</td>
                </tr>
                <tr>
                    <td class="tlabel">{{ 'Sex'|trans }}:</td>
                    <td class="select_edit" data-bind="sex">{{ form_widget(edit_form.sex, {'attr' : { 'tabindex' : '4'}}) }}</td>
                </tr>
                <tr>
                    <td class="tlabel">{{ 'Birth'|trans }}:</td>
                    <td class="str_edit" data-bind="birth" id="birth">{{ form_widget(edit_form.birth_alt, {'attr' : { 'tabindex' : '5'}}) }}</td>
                </tr>
                <tr>
                    <td class="tlabel">{{ 'Birth place'|trans }}:</td>
                    <td class="str_edit" data-bind="birthPlace">{{ form_widget(edit_form.birthPlace, {'attr' : { 'tabindex' : '6'}}) }}</td>
                </tr>
                <tr>
                    <td class="tlabel">{{ 'Occupation'|trans }}:</td>
                    <td class="str_edit" data-bind="occupation">{{ form_widget(edit_form.occupation, {'attr' : { 'tabindex' : '7'}}) }}</td>
                </tr>
                <tr>
                    <td class="tlabel">{{ 'Death'|trans }}:</td>
                    <td class="str_edit" data-bind="death" id="birth">{{ form_widget(edit_form.death_alt, {'attr' : { 'tabindex' : '8'}}) }}</td>
                </tr>
                <tr>
                    <td class="tlabel">{{ 'Place of death'|trans }}:</td>
                    <td class="str_edit" data-bind="deathPlace">{{ form_widget(edit_form.deathPlace, {'attr' : { 'tabindex' : '9'}}) }}</td>
                </tr>
                <tr>
                    <td class="tlabel">{{ 'NOTE'|trans }}:</td>
                    <td class="area_edit" data-bind="note">{{ form_widget(edit_form.note, {'attr' : { 'tabindex' : '12'}}) }}</td>
                </tr>
                <tr>
                    <td class="tlabel">{{ 'Private note'|trans }}:</td>
                    <td class="area_edit">{{ form_widget(edit_form.privateNote, {'attr' : { 'tabindex' : '13'}}) }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="col-md-6 relfixed" id="relatives">
        <div class="relatives block">
            <h2>{{ 'Parents'|trans }}</h2>
            <div class="relative_list">
                {%- spaceless -%}
                    {%- for parent in person.parents -%}
                        <div class="person">
                            <a class="person_tile" href="{{ path('person_show',{ 'id':parent.id }) }}">
                                <div class="photo" data- data-gender="{{ parent.sex }}">
                                    <img src="{{ parent.avatarUrl | imagine_filter('relative') }}" alt="">
                                </div>

                                <div class="info">
                                    <p itemprop="familyName">{{ parent.lastName|title }}</p>
                                    <p itemprop="givenName">{{ parent.firstName | title }} </p>
                                    <p itemprop="additionalName" class="secondary">{{ parent.nickname|title }}</p>
                                    <p class="date">{{ parent.dates }}</p>
                                </div>
                            </a>
                            <div class="actions">
                                <a href="{{ path("person_edit", {'id' : parent.id}) }}" class="">&#9998;</a>
                                <a href="{{ path("person_remove_relative", {'person': person.id, 'type':'parent', 'relative' : parent.id}) }}" class="ajaxlink">&#10006;</a>
                            </div>
                        </div>
                    {%- endfor -%}
                    {% if person.parents | length < 2 %}
                        {%- spaceless -%}
                            <div class="person">
                                <a href="{{ path("person_add_relative_form", {'id' : person.id, 'type' : 'parent'}) }}" class="person_tile add_relative_tile ajaxlink">
                                    <img src="{{ asset('bundles/tree/images/account_man_add_new_create-512.png') }}" alt="{{ 'Add parent' | trans }}"/>{{ 'Add parent' | trans }}
                                </a>
                            </div>
                        {%- endspaceless -%}
                    {% endif %}
                {%- endspaceless -%}
            </div>
        </div>

        <div class="relatives block">
            <h2>{{ 'Spouses'|trans }}</h2>
            <div class="relative_list">
                {% for marriage in person.marriages %}
                    {% set spouse = marriage.spouse %}
                    <div class="person">
                        <a class="person_tile" href="{{ path('person_show',{ 'id':spouse.id }) }}">
                            <div class="photo" data-src="{{ spouse.avatarUrl | imagine_filter('relative') }}" data-gender="{{ spouse.sex }}">
                                <img src="{{ spouse.avatarUrl | imagine_filter('relative') }}" alt="">
                            </div>
                            <div class="info">
                                <p itemprop="familyName">{{ spouse.lastName|title }}</p>
                                <p itemprop="givenName">{{ spouse.firstName | title }} </p>
                                <p itemprop="additionalName" class="secondary">{{ spouse.nickname|title }}</p>
                                <p class="date">{{ spouse.dates }}</p>
                            </div>
                        </a>
                        <div class="actions">
                            <a href="{{ path("person_edit", {'id' : spouse.id}) }}" class="">&#9998;</a>
                            <a href="{{ path("person_remove_relative", {'person': person.id, 'type':'spouse', 'relative' : spouse.id}) }}" class="ajaxlink">&#10006;</a>
                        </div>
                    </div>
                {% endfor %}
                {%- spaceless -%}
                    <div class="person">
                        {% if person.sex == 0 %}
                            <a href="{{ path("person_add_relative_form", {'id' : person.id, 'type' : 'spouse'}) }}" class="person_tile add_relative_tile ajaxlink">
                                <img src="{{ asset('bundles/tree/images/account_man_add_new_create-512.png') }}" alt="{{ 'Add spouse' | trans }}"/>{{ 'Add spouse' | trans }}
                            </a>
                        {% else %}
                            <a href="{{ path("person_add_relative_form", {'id' : person.id, 'type' : 'spouse'}) }}" class="person_tile add_relative_tile ajaxlink">
                                <img src="{{ asset('bundles/tree/images/account_woman_add_new_create-512.png') }}" alt="{{ 'Add spouse' | trans }}"/>{{ 'Add spouse' | trans }}
                            </a>
                        {% endif %}
                    </div>
                {%- endspaceless -%}
            </div>
        </div>

        <div class="relatives block">
            <h2>{{ 'Children'|trans }}</h2>
            <div class="relative_list">
                {% for child in person.children %}
                    <div class="person">
                        <a class="person_tile" href="{{ path('person_show',{ 'id':child.id }) }}">
                            <div class="photo" data-src="{{ child.avatarUrl | imagine_filter('relative') }}" data-gender="{{ child.sex }}">
                                <img src="{{ child.avatarUrl | imagine_filter('relative') }}" alt="">
                            </div>
                            <div class="info">
                                <p itemprop="familyName">{{ child.lastName|title }}</p>
                                <p itemprop="givenName">{{ child.firstName | title }} </p>
                                <p itemprop="additionalName" class="secondary">{{ child.nickname|title }}</p>
                                <p class="date">{{ child.dates }}</p>
                            </div>
                        </a>
                        <div class="actions">
                            <a href="{{ path("person_edit", {'id' : child.id}) }}" class="">&#9998;</a>
                            <a href="{{ path("person_remove_relative", {'person': person.id, 'type':'child', 'relative' : child.id}) }}" class="ajaxlink">&#10006;</a>
                        </div>
                    </div>
                {% endfor %}
                {%- spaceless -%}
                    <div class="person">
                        <a href="{{ path("person_add_relative_form", {'id' : person.id, 'type' : 'child'}) }}" class="person_tile add_relative_tile ajaxlink">
                            <img src="{{ asset('bundles/tree/images/account_man_add_new_create-512.png') }}" alt="{{ 'Add child' | trans }}"/>{{ 'Add child' | trans }}
                        </a>
                    </div>
                {%- endspaceless -%}
            </div>

        </div>

        <div class="relatives block">
            <h2>{{ 'Brothers and sisters'|trans }}</h2>
            <div class="relative_list">
                {% for brother in person.brotherhood %}
                    <div class="person">
                        <a class="person_tile" href="{{ path('person_show',{ 'id':brother.id }) }}">
                            <div class="photo" data-src="{{ brother.avatarUrl | imagine_filter('relative') }}" data-gender="{{ brother.sex }}">
                                <img src="{{ brother.avatarUrl | imagine_filter('relative') }}" alt="">
                            </div>
                            <div class="info">
                                <p>{{ brother.lastName|title }}</p>
                                <p>{{ brother.firstName | title }} </p>
                                <p class="secondary">{{ brother.nickname|title }}</p>
                                <p class="date">{{ brother.dates }}</p>
                            </div>
                        </a>
                        <div class="actions">
                            <a href="{{ path("person_edit", {'id' : brother.id}) }}" class="">&#9998;</a>
                            <a href="{{ path("person_remove_relative", {'person': person.id, 'type':'brother', 'relative' : brother.id}) }}" class="ajaxlink">&#10006;</a>
                        </div>
                    </div>
                {% endfor %}
                {%- spaceless -%}
                    <div class="person">
                        <a href="{{ path("person_add_relative_form", {'id' : person.id, 'type' : 'brother'}) }}" class="person_tile add_relative_tile ajaxlink">
                            <img src="{{ asset('bundles/tree/images/account_man_add_new_create-512.png') }}" alt="{{ 'Add brother' | trans }}"/>{{ 'Add brother' | trans }}
                        </a>
                    </div>
                {%- endspaceless -%}
            </div>
        </div>
        {{ form_end(edit_form) }}
    </div>

    <div id="files" style="display: none;">

        <div class="filegallery">
            <div class="header">
                <div class="title">
                    <h3>{{ 'Gallery'|trans }}</h3>
                </div>
                <div class="actions">
                    <a href="{{ path("person_upload_file", {'id': person.id}) }}" class="btn btn-block btn-default ajaxlink">{{ 'Upload new' | trans }}</a>
                </div>
            </div>
            <div class="">
                {% for file in person.files %}
                    {% if file.type == constant("GalleryBundle\\Entity\\File::FILE_IMAGE") %}
                        <a href="{{ path("person_edit_file", {"id": file.id }) }}" class="item ajaxlink file_{{ file.id }}">
                            <img src="{{ ('/uploads/files/' ~ file.file) | imagine_filter('person_gallery') }}">
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="">
                <h3 class="title">{{ 'Documents'|trans }}</h3>
                {% for file in person.files %}
                    {% if file.type == constant("GalleryBundle\\Entity\\File::FILE_DOCUMENT") %}
                        <a href="{{ path("person_edit_file", {"id": file.id }) }}" class="item ajaxlink file_{{ file.id }}">
                            <img src="{{ ('/uploads/files/' ~ file.file) | imagine_filter('person_gallery') }}">
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="">
                <h3 class="title">{{ 'Video files'|trans }}</h3>
                {% for file in person.files %}
                    {% if file.type == constant("GalleryBundle\\Entity\\File::FILE_VIDEO") %}
                        <a href="{{ path("person_edit_file", {"id": file.id }) }}" class="item ajaxlink file_{{ file.id }}">
                            <img src="{{ ('/uploads/files/' ~ file.file) | imagine_filter('person_gallery') }}">
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="">
                <h3 class="title">{{ 'Tagged'|trans }}</h3>
                {% for file in taggedFiles %}
                    <a href="{{ path("gallery_show_file", { 'id' : file.id }) }}" class="item ajaxlink file_{{ file.id }}">
                        <img src="{{ ('/uploads/files/' ~ file.file) | imagine_filter('gallery_thumb') }}">
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
    {% block javascripts -%}
        {#
        <script src="/crop/js/cropper.min.js"></script>
        <script src="/crop/js/crop-avatar.js"></script>
        #}

        <script src="{{ asset('js/jquery.Jcrop.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/asgu.ajaxify.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/asgu.tagger.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/asgu.autocomlete.js') }}" type="text/javascript"></script>

        <script>

            $(".firstName").each(function () {
                var $current = $(this);
                var name = $current.text();

                var names = name.split(" ");
                if (names.length > 1) {
                    $current.text(names[0]);
                    var secNames = names.splice(1);
                    var $secondary = $("<span />", {
                        'class': 'secondary'
                    }).text(secNames.join(" "));
                    $current.append($secondary);
                }
            });
        </script>

        <script type="text/javascript">
            $(document).ready(function () {
                centerImages();

                $("#form_submit").click(function () {
                    if (confirm("{{ 'Are you sure you want to delete this person from database?'|trans }}")) {

                    } else {
                        event.preventDefault();
                    }
                });

                $("#sandello_familytreebundle_person_submit").click(function () {
                    if (confirm("{{ 'Are you sure you want to save changes to database?'|trans }}")) {

                    } else {
                        event.preventDefault();
                    }
                });


                {#$(document).on('click', '.avatar', function (event) {
                    event.stopPropagation();
                    if (confirm("{{ 'Are you sure you want to set this photo as portrait?' | trans }}")) {
                        var image = $(this).parent().parent();
                        var href = image.attr('href');
                        var url = href.split('/');
                        var filename = url[url.length - 1];

                        $.ajax({
                            url: "{{ path('person_edit_prior_photo',{'id': person.id}) }}",
                            type: "POST",
                            data: {url: filename},
                            success: function () {
                                //$('.prior').toggleClass('prior');
                                $('.profile-avatar img').attr('src', '/uploads/photos/' + filename);
                                $('.main-photo img').attr('src', '/uploads/photos/' + filename);
                            }
                        });
                    } else {

                    }
                });#}
            });
        </script>
    {% endblock %}