<div class="fileupload">
    <form class="avatar-form ajaxform" action="{{ path("edit_avatar_action", {'id' : person.id}) }}" enctype="multipart/form-data" method="post">
        <div class="preview">
            {% if person.avatarFile %}
                <img src="{{ "/uploads/files/" ~ person.avatarFile.file }}" alt="" data-tag="{{ tag.meta | json_encode }}">
            {% else %}
                <img src="" alt="" style="display: none;">
            {% endif %}
        </div>
        <div class="controls">

            <div class="data">
                <div id="profile_preview" style="width: 200px; height: 240px;overflow: hidden;float: left;">
                    <img src="" alt="" id="profile_preview_img">
                </div>
                <div id="relative_preview" style="width: 90px; height: 120px;overflow: hidden;float: left;">
                    <img src="" alt="" id="relative_preview_img">
                </div>
            </div>
            <div class="meta">
                <input type="file" name="avatar_file" id="avatar_file">
                <input type="hidden" name="avatar_src" id="avatar_src">
                <input type="hidden" name="avatar_data" id="avatar_data">
                <div class="form-group">
                    <button type="submit" id="file_submit" name="file[submit]" class="btn-block btn btn-primary">Salva</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    var jcrop_api;
    var upload = false;


    $(".preview img").load(function () {
        if ($(".preview img").data("tag") !== undefined) {
            if (!upload) {

                loadPreview($('#profile_preview_img'), $(this).attr("src"));
                loadPreview($('#relative_preview_img'), $(this).attr("src"));


                jcrop_api = $.Jcrop('.preview img', {
                    aspectRatio: 0.75,
                    onSelect: selectAvatar,
                    onChange: selectAvatar,
                });

                var tag = $(this).data("tag");
                var scale = $(this).width() / tag.naturalWidth;

                jcrop_api.setSelect([tag.x1 * scale, tag.y1 * scale, tag.x2 * scale, tag.y2 * scale]);
            }
        }
    });

    $(document).on("change", "#avatar_file", function (e) {
        upload = true;
        if ((typeof jcrop_api == "object") && (jcrop_api != null)) jcrop_api.destroy();
        var input = $(this);
        input = input[0];
        var type = e.target.files[0].type;
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                if (type == "image/jpeg") {
                    $('.preview img').show();
                    var img_data = e.target.result;

                    loadPreview($('.preview img'), img_data);
                    loadPreview($('#profile_preview_img'), img_data);
                    loadPreview($('#relative_preview_img'), img_data);


                    jcrop_api = $.Jcrop('.preview img', {
                        aspectRatio: 0.75,
                        onSelect: selectAvatar,
                        onChange: selectAvatar,
                    });
                }
            };
            reader.readAsDataURL(input.files[0]);
        }
    });

    function loadPreview(target, data) {
        target.attr('src', data);
    }

    function selectAvatar(c) {
        var coords = {};
        var $img = $('.preview img')[0];

        coords.displayWidth = $(".preview img").width();
        coords.displayHeight = $(".preview img").height();
        coords.naturalWidth = $img.naturalWidth;
        coords.naturalHeight = $img.naturalHeight;

        var scale = coords.naturalWidth / coords.displayWidth;

        coords.x1 = (c.x * scale).toFixed();
        coords.x2 = (c.x2 * scale).toFixed();
        coords.y1 = (c.y * scale).toFixed();
        coords.y2 = (c.y2 * scale).toFixed();

        $("#avatar_data").val(JSON.stringify(coords));
        previewAvatar($('#profile_preview_img'), coords, 200);
        previewAvatar($('#relative_preview_img'), coords, 90);
    }

    function previewAvatar(target, coords, width) {
        var scale = width / (coords.x2 - coords.x1);

        target.css({
            width: Math.round(coords.naturalWidth * scale) + 'px',
            height: Math.round(coords.naturalHeight * scale) + 'px',
            marginLeft: '-' + Math.round(coords.x1 * scale) + 'px',
            marginTop: '-' + Math.round(coords.y1 * scale) + 'px'
        });

    }
</script>

