{% extends 'TreeBundle::base.html.twig' %}

{% block container -%}
    <h1>Person list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Birth</th>
                <th>Death</th>
                <th>Occupation</th>
                <th>Birthplace</th>
                <th>Deathplace</th>
                <th>Note</th>
                <th>Privatenote</th>
                <th>Sex</th>
                <th>Nickname</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('person_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.firstName }}</td>
                <td>{{ entity.lastName }}</td>
                <td>{% if entity.birth %}{{ entity.birth|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.death %}{{ entity.death|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.occupation }}</td>
                <td>{{ entity.birthPlace }}</td>
                <td>{{ entity.deathPlace }}</td>
                <td>{{ entity.note }}</td>
                <td>{{ entity.privateNote }}</td>
                <td>{{ entity.sex }}</td>
                <td>{{ entity.nickname }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('person_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('person_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('person_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
