{% extends 'TreeBundle::base.html.twig' %}
{% block stylesheets %}
    <link rel='stylesheet' href='/css/popup.css' type='text/css' media='all'/>
{% endblock %}
{% block body -%}

    {{ form_start(form) }}
    <div class="col-md-offset-3 col-md-6">
        <div class="profile">
            <div class="profile-avatar">
                <img src="/uploads/nogender.png" class="img-responsive profile-photo ">
            </div>
            <div class="profile-info">
                <ul>
                    <li class="str_edit" data-bind="surname">{{ form_widget(form.lastName, {'attr': {'placeholder': 'First Name'} }) }}</li>
                    <li class="str_edit" data-bind="name">{{ form_widget(form.firstName, {'attr': {'placeholder': 'Last Name'} }) }}</li>
                    <li class="str_edit" data-bind="nickname">{{ form_widget(form.nickname, {'attr': {'placeholder': 'Nick Name'} }) }}</li>
                </ul>
            </div>
            <div class="action-buttons">
                {{ form_widget(form._token) }}
                {{ form_widget(form.submit) }}
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="profile" style="margin-top: 30px;">
            <table class="table profile-details">
                <tr>
                    <td class="tlabel">{{ 'Sex'|trans }}:</td>
                    <td class="select_edit" data-bind="sex">{{ form_widget(form.sex) }}</td>
                </tr>
                <tr>
                    <td class="tlabel">{{ 'Birth'|trans }}:</td>
                    <td class="str_edit" data-bind="birth" id="birth">{{ form_widget(form.birth_alt) }}</td>
                </tr>
                <tr>
                    <td class="tlabel">{{ 'Birth place'|trans }}:</td>
                    <td class="str_edit" data-bind="birthPlace">{{ form_widget(form.birthPlace) }}</td>
                </tr>
                <tr>
                    <td class="tlabel">{{ 'Occupation'|trans }}:</td>
                    <td class="str_edit" data-bind="occupation">{{ form_widget(form.occupation) }}</td>
                </tr>
                <tr>
                    <td class="tlabel">{{ 'Death'|trans }}:</td>
                    <td class="str_edit" data-bind="death" id="birth">{{ form_widget(form.death_alt) }}</td>
                </tr>
                <tr>
                    <td class="tlabel">{{ 'Place of death'|trans }}:</td>
                    <td class="str_edit" data-bind="deathPlace">{{ form_widget(form.deathPlace) }}</td>
                </tr>
                <tr>
                    <td class="tlabel">{{ 'NOTE'|trans }}:</td>
                    <td class="area_edit" data-bind="note">{{ form_widget(form.note) }}</td>
                </tr>
                <tr>
                    <td class="tlabel">{{ 'Private note'|trans }}:</td>
                    <td class="area_edit">{{ form_widget(form.privateNote) }}</td>
                </tr>
            </table>
        </div>
    </div>
    </form>


{% endblock %}
{% block javascripts -%}
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.js"></script>
    <script type="text/javascript" src="/js/api.js" defer></script>
    <script type="text/javascript" src="/js/functions.js" defer></script>
    <script type="text/javascript" src="/js/jquery.autocomplete.js" defer></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>
{% endblock %}