{% extends 'TreeBundle::base.html.twig' %}

{% block body -%}    

    <div class="container profile">
            <div class="row">
                <div class="col-md-4">
                    <img src="http://placekitten.com/1000/1000" class="img-responsive profile-photo ">
                    <div class="add-photo">
                        <span class="title">Photos</span>
                        <ul class="photos">
                            <li><label><input type="file" multiple="true" id="photo"/><a href="" class="document-href"><span class="add-button">+</span></a></label></li>
                        </ul>
                    </div>
                    <span class="clearfix"></span>
                    <div class="add-document">
                        <span class="title">Special files</span>
                        <ul class="documents">
							<li><label><input type="file" multiple="true" id="file"/><a href="" class="document-href"><span class="add-button">+</span></a></label></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5">
                    <h1>Add information</h1>
                    {{ form(form_info,{'style':'horizontal','widget_col': 8}) }}
                </div>
                <div class="col-md-3 relations">
                    <h1>Add relations</h1>
                    <form class="form-horizontal" role="relations" method="POST" action="{{ path('person_create') }}">
                        <div class="form-group">
                            <label for="Id" class="col-sm-3 control-label">Parents:</label>
                            <div class="col-sm-9">
                                <div class="customselect">
                                    <input type="hidden" id="parents" name="parents"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Id" class="col-sm-3 control-label" style="padding: 0;">Brothers &amp; sisters:</label>
                            <div class="col-sm-9">
                                <div class="customselect">
                                    <input type="hidden" id="brotherhood" name="brotherhood"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Id" class="col-sm-3 control-label">Children:</label>
                            <div class="col-sm-9">
                                <div class="customselect">
                                    <input type="hidden" id="children" name="children"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Id" class="col-sm-3 control-label">Couses:</label>
                            <div class="col-sm-9">
                                <div class="customselect">
                                    <input type="hidden" id="marriages" name="marriages"/>
                                </div>
                            </div>
                        </div>
                      
                    <div class="form-group"><div class="col-sm-12"><input name="relations_save" type="submit" class="btn btn-default grbutton" value="Save"/></div></div>
                    </form>
                </div>
            </div>

        </div>

    {% block genemu_jqueryselect2_javascript %}

        <script type="text/javascript">
            $field = $('#parents, #brotherhood, #marriages, #children');

            function personFormatResult(person) {
                var markup = '<div class="row"><div class="col-md-4"><img src="'+person.photo+'"/></div><div class="col-md-8">'+person.firstName+' '+person.lastName+' '+person.nickname+'</div></div>';

                if (person.description) {
                    markup += '<div>' + person.description + '</div>';
                }
                // markup = person.firstName+' '+person.lastName;

                return markup;
            }

            function personFormatSelection(person) {
                return person.firstName+' '+person.lastName;
            }

            $(document).ready(function(){

                $field.select2({
                    placeholder: "Search for a person",
                    minimumInputLength: 2,
                    multiple: true,
                    // id: function(bond){ return bond._id; },
                    ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                        url: "{{path('search_person_select2')}}",
                        dataType: 'json',
                        quietMillis: 1000,
                        type: 'POST',
                        data: function (term, page) {
                            return {
                                q: term, // search term
                                page: page || 1
                            };
                        },
                        results: function (data, page) { // parse the results into the format expected by Select2.
                            // since we are using custom formatting functions we do not need to alter the remote JSON data
                            return { results: data.items };
                        },
                        cache: true
                    },
                    initSelection : function (element, callback) {
                        console.log(element);
                        var data = {id: element.val(), text: element.val()};
                        callback(data);
                    },
                    formatResult: personFormatResult, // omitted for brevity, see the source of this page
                    formatSelection: personFormatSelection,  // omitted for brevity, see the source of this page
                    dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
                    // escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
                }).on("select2-selecting", function(e) {
                    console.log(e.val);
                });
            })
        </script>

    {% endblock %}
{% endblock %}
