{% extends 'TreeBundle::base.html.twig' %}
{% block body -%}
<script type="text/javascript" src="/js/51d1bda.js"></script>
<div id="tree-container"></div>
<script type="text/javascript">

brothers = {{brothers|raw}}
/*{{ fscript }}"*/
spouses = {{couses|raw}}

children = {{children|raw}}

parents = {{parents|raw}}

var totalNodes = 0;
var maxLabelLength = 0;
var selectedNode = null;
var draggingNode = null;
var panSpeed = 200;
var panBoundary = 20; 
var i = 0;
var duration = 750;
var rootChildren;
var rootParents;
var viewerWidth = $('#tree-container').width();
var viewerHeight = $(window).height();
var tree = d3.layout.tree().size([viewerHeight, viewerWidth]);
var diagonal = d3.svg.diagonal().projection(function(d) {
		return [d.x, d.y];
	});

function visit(parent, visitFn, childrenFn) {
	if (!parent) return;
	visitFn(parent);
	var children = childrenFn(parent);
	if (children) {
		var count = children.length;
		for (var i = 0; i < count; i++) {
			visit(children[i], visitFn, childrenFn);
		}
	}
}

visit(children, function(d) {
	totalNodes++;
	maxLabelLength = Math.max(d.name.length, maxLabelLength);
}, function(d) {
	return d.children && d.children.length > 0 ? d.children : null;
});


function pan(domNode, direction) {
	var speed = panSpeed;
	if (panTimer) {
		clearTimeout(panTimer);
		translateCoords = d3.transform(svgGroup.attr("transform"));
		if (direction == 'left' || direction == 'right') {
			translateX = direction == 'left' ? translateCoords.translate[0] + speed : translateCoords.translate[0] - speed;
			translateY = translateCoords.translate[1];
		} else if (direction == 'up' || direction == 'down') {
			translateX = translateCoords.translate[0];
			translateY = direction == 'up' ? translateCoords.translate[1] + speed : translateCoords.translate[1] - speed;
		}
		scaleX = translateCoords.scale[0];
		scaleY = translateCoords.scale[1];
		scale = zoomListener.scale();
		svgGroup.transition().attr("transform", "translate(" + translateX + "," + translateY + ")scale(" + scale + ")");
		d3.select(domNode).select('g.node').attr("transform", "translate(" + translateX + "," + translateY + ")");
		zoomListener.scale(zoomListener.scale());
		zoomListener.translate([translateX, translateY]);
		panTimer = setTimeout(function() {
			pan(domNode, speed, direction);
		}, 50);
	}
}

function zoom() {
	svgGroup.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
}

var zoomListener = d3.behavior.zoom().scaleExtent([0.1, 3]).on("zoom", zoom);

var baseSvg = d3.select("#tree-container").append("svg")
	.attr("width", viewerWidth)
	.attr("height", viewerHeight)
	.attr("class", "overlay")
	.call(zoomListener);

function centerNode(source) {
	scale = zoomListener.scale();
	x = -source.y0;
	y = -source.x0;
	x = x * scale - viewerWidth ;
	y = y * scale + viewerHeight / 2;
	d3.select('g').transition()
		.duration(duration)
		.attr("transform", "translate(" + x + "," + y + ")scale(" + scale + ")");
	zoomListener.scale(scale);
	zoomListener.translate([x, y]);
}

function update(source, root, direction) {
	
	var nodes = tree.nodes(root).reverse(),
		links = tree.links(nodes);
	
	switch(direction)
	{
	case 'up':
		nodes.forEach(function(d) { d.y = d.depth * -200; d.x = d.x * 4; });
		break;
	case 'down':
		nodes.forEach(function(d) { d.y = d.depth * 200; d.x = d.x * 4; });
		break;
	case 'left':
		nodes.forEach(function(d) { d.x = d.x + viewerWidth; d.y = 0; });
		break;
	case 'right':
		nodes.forEach(function(d) { d.x = -d.x + viewerWidth/2 ; d.y = 0; });
		break;
	}
	
	var node = svgGroup.selectAll("g.node")
		.data(nodes, function(d) { return d.id || (d.id = ++i); });
	nodes[nodes.length-1].x = rootChildren.x;

	var nodeEnter = node.enter().append("g")
		.attr("class", "node")
		.attr("person-id", function(d){return d.id;})
		.attr("transform", function(d) { 
			return "translate(" + d.x + "," + d.y + ")"; });
			
	nodeEnter.append("svg:a")
		.attr("xlink:href", function(d){return d.url;})
		.append("image")
		.attr("xlink:href", function(d){return d.photo;})
		.attr("width", "100")
		.attr("height", "100")
		.attr("transform", "translate(-50,-50)");
		
	nodeEnter.append("svg:a")
		.attr("xlink:href", function(d){return d.url;})
		.append("text")
		.attr("y", "50")
		.attr("dy", "1.35em")
		.attr("text-anchor", "middle")
		.text(function(d) { return d.lastname; })
		.style("fill-opacity", 1);
		
	nodeEnter.append("svg:a")
		.append("text")
		.attr("y", "70")
		.attr("dy", "1.35em")
		.attr("text-anchor", "middle")
		.text(function(d) { return d.name; })
		.style("fill-opacity", 1);
		
	var link = svgGroup.selectAll("path.link")
		.data(links, function(d) { return d.target.id; });
		
	link.enter().insert("path", "g")
		.attr("class", "link")
		.attr("d", diagonal);
}

var svgGroup = baseSvg.append("g");

rootChildren = children;
rootChildren.x0 = 0;
rootChildren.y0 = 0;
update(rootChildren, rootChildren, 'down');

rootParents = parents;
rootParents.x0 = 0;
rootParents.y0 = 0;
update(rootParents, rootParents, 'up');

rootSpouses = spouses;
rootSpouses.x0 = 1000;
rootSpouses.y0 = 1000;
update(rootSpouses, rootSpouses, 'left');

rootBrothers = brothers;
rootBrothers.x0 = 0;
rootBrothers.y0 = 0;
update(rootBrothers, rootBrothers, 'right');

centerNode(rootParents);
</script>
{% endblock %}