{% extends 'TreeBundle::base.html.twig' %} {% block title -%} {{ entity.lastName|title }} {{ entity.firstName|title }} {{ entity.nickname|title }} {% endblock %} 
{% block stylesheets %}
    <link rel='stylesheet' href='/css/popup.css' type='text/css' media='all'/>
{% endblock %}
{% block body -%}

    <div itemscope itemtype="http://schema.org/Person">
        <div class="col-md-6 separate">
            <div>
                <div class="block">
                    <div class="profile-avatar">
                        <img src="{{ entity.avatarUrl  }}" class="img-responsive profile-photo ">
                    </div>
                    <div class="profile-info">
                        <ul>
                            <li data-bind="surname" itemprop="familyName">{{ entity.lastName | title }}</li>
                            <li data-bind="name" itemprop="givenName">
                                {% set firstName = entity.firstName|split(' ', 2) %}
                                <span class="prime">{{ firstName[0] | title }}</span>
                                {% if firstName[1] is defined %}
                                    <span class="secondary">{{ firstName[1] | title }}</span>
                                {% endif %}
                            </li>
                            <li data-bind="nickname" itemprop="additionalName"><span class="secondary">{{ entity.nickname | title }}</span></li>
                        </ul>
                    </div>
                    <div class="action-buttons">
                        {% if (entity.files|length > 0) or (taggedFiles|length > 0) %}
                            <a class="popuplink" href="#files">
                                <button type="button" class="">{{ 'Photo/video gallery'|trans }} ({{ entity.files | length }})</button>
                            </a>
                        {% endif %}
                        {% if app.request.headers.get('referer') == "http://albardaiforness.ru/tree/tree.htm" %}
                            <button onclick="javascript:history.go(-1)"> {{ 'Return to tree'|trans }}</button>
                        {% endif %}
                        <a href="{{ path('person_show_tree',{'id': entity.id}) }}" class="">
                            <button type="button" class="tree">{{ 'Tree'|trans }}</button>
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('person_edit', { 'id': entity.id }) }}">
                                <button type="button" class="edit edit_tooltip" data-original-title="Another tooltip">{{ 'Edit person'|trans }}</button>
                            </a>
                        {% else %}
                            <a href="{{ path('suggest_changes', { 'id': entity.id }) }}">
                                <button type="button" class="edit edit_tooltip" data-original-title="Another tooltip">{{ 'Change info'|trans }}</button>
                            </a>
                        {% endif %}

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="block">
                    <table class="table profile-details">
                        <tr>
                            <td class="tlabel">{{ 'Id'|trans }}:</td>
                            <td class="">{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <td class="tlabel">{{ 'Gender'|trans }}:</td>
                            <td class="select_edit" data-bind="sex" itemprop="gender">{% if entity.sex %}{{ 'Male'|trans }}{% else %}{{ 'Female'|trans }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td class="tlabel">{{ 'Birth'|trans }}:</td>
                            <td class="str_edit" data-bind="birth" id="birthDate" itemprop="birthDate">{{ entity.birth }}</td>
                        </tr>
                        <tr>
                            <td class="tlabel">{{ 'Birth place'|trans }}:</td>
                            <td class="str_edit" data-bind="birthPlace" itemprop="birthPlace">{{ entity.birthPlace|title }}</td>
                        </tr>
                        <tr>
                            <td class="tlabel">{{ 'Occupation'|trans }}:</td>
                            <td class="str_edit" data-bind="occupation" itemprop="jobTitle">{{ entity.occupation|title }}</td>
                        </tr>
                        <tr>
                            <td class="tlabel">{{ 'Death'|trans }}:</td>
                            <td class="str_edit" data-bind="death" id="death" itemprop="deathDate">{{ entity.death }}</td>
                        </tr>
                        <tr>
                            <td class="tlabel">{{ 'Place of death'|trans }}:</td>
                            <td class="str_edit" data-bind="deathPlace" itemprop="deathPlace">{{ entity.deathPlace }}</td>
                        </tr>
                        <tr>
                            <td class="tlabel">{{ 'Year of birth'|trans }}:</td>
                            <td class="str_edit" id="byear">{{ entity.birthYear }}</td>
                        </tr>
                        <tr>
                            <td class="tlabel">{{ 'Year of death'|trans }}:</td>
                            <td class="str_edit" id="dyear">{{ entity.deathYear }}</td>
                        </tr>
                        <tr>
                            <td class="tlabel">{{ 'Age'|trans }}:</td>
                            <td class="">{{ entity.age }}</td>
                        </tr>
                        <tr>
                            <td class="tlabel">{{ 'NOTE'|trans }}:</td>
                            <td class="area_edit" data-bind="note">{{ entity.note|title }}</td>
                        </tr>
                        {% if is_granted('ROLE_ADMIN') %}
                            <tr>
                                <td class="tlabel">{{ 'Private note'|trans }}:</td>
                                <td class="area_edit">{{ entity.privateNote|raw }}</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
                {#<div class="block">
                    <ul class="timeline">
                        <li>
                            <div class="direction-r">
                                <div class="flag-wrapper">
                                    <span class="flag">Freelancer</span>
                                    <span class="time-wrapper"><span class="time">2013 - present</span></span>
                                </div>
                                <div class="desc">My current employment. Way better than the position before!</div>
                            </div>
                        </li>
                        <li>
                            <div class="direction-l">
                                <div class="flag-wrapper">
                                    <span class="flag">Apple Inc.</span>
                                    <span class="time-wrapper"><span class="time">2011 - 2013</span></span>
                                </div>
                                <div class="desc">My first employer. All the stuff I've learned and projects I've been working on.</div>
                            </div>
                        </li>
                    </ul>
                </div>#}
            </div>
        </div>

        <div class="col-md-6 separate" style="right: 15px;">
            <div style="padding-left: 15px;">
                {% if entity.parents|length > 0 %}
                    <div class="relatives block" itemprop="parents" itemscope itemtype="http://schema.org/Person">
                        <h2>{{ 'Parents'|trans }}</h2>
                        <div class="relative_list">
                            {% for parent in entity.parents %}
                                <div class="person">
                                    <a class="person_tile" href="{{ path('person_show',{ 'id':parent.id }) }}">
                                        <div class="photo" data-src="{{ parent.avatarUrl | imagine_filter('relative') }}" data-gender="{{ parent.sex }}">
                                            <img src="{{ parent.avatarUrl | imagine_filter('relative') }}" alt="">
                                        </div>
                                        <div class="info">
                                            <p itemprop="familyName">{{ parent.lastName|title }}</p>
                                            <p itemprop="givenName" class="firstName">{{ parent.firstName | title }} </p>
                                            <p itemprop="additionalName" class="secondary">{{ parent.nickname|title }}</p>
                                            <p class="date">{{ parent.dates }}</p>
                                        </div>
                                    </a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <div class="actions">
                                            <a href="{{ path("person_edit", {'id' : parent.id}) }}" class="">&#9998;</a>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if entity.marriages|length > 0 %}
                    <div class="relatives block">
                        <h2>{{ 'Spouses'|trans }}</h2>
                        <div class="relative_list">
                            {% for marriage in entity.marriages %}
                                {% set spouse = marriage.spouse %}
                                <div class="person" itemprop="spouse" itemscope itemtype="http://schema.org/Person">
                                    <a class="person_tile" href="{{ path('person_show',{ 'id':spouse.id }) }}">
                                        <div class="photo" data-src="{{ spouse.avatarUrl | imagine_filter('relative') }}" data-gender="{{ spouse.sex }}">
                                            <img src="{{ spouse.avatarUrl | imagine_filter('relative') }}" alt="">
                                        </div>
                                        <div class="info">
                                            <p itemprop="familyName">{{ spouse.lastName|title }}</p>
                                            <p itemprop="givenName" class="firstName">{{ spouse.firstName | title }} </p>
                                            <p itemprop="additionalName" class="secondary">{{ spouse.nickname|title }}</p>
                                            <p class="date">{{ spouse.dates }}</p>
                                            <p class="secondary">{{ 'Married'|trans }}: <span> {{ marriage.marriageDate }}</span></p>
                                        </div>
                                    </a>
                                    {% if marriage.marriageDate|length > 0 %}
                                        <div class="mdate">
                                        </div>
                                    {% endif %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <div class="actions">
                                            <a href="{{ path("person_edit", {'id' : spouse.id}) }}" class="">&#9998;</a>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if entity.children|length > 0 %}
                    <div class="relatives block">
                        <h2>{{ 'Children'|trans }} {# ({{ entity.children|length }})
                        <button class="open-close">{{ 'Open'|trans }}</button>#}
                        </h2>
                        <div class="relative_list">
                            {% for child in entity.children %}
                                <div class="person" itemprop="children" itemscope itemtype="http://schema.org/Person" itemprop="children" itemscope itemtype="http://schema.org/Person">
                                    <a class="person_tile" href="{{ path('person_show',{ 'id':child.id }) }}">
                                        <div class="photo" data-src="{{ child.avatarUrl | imagine_filter('relative') }}" data-gender="{{ child.sex }}">
                                            <img src="{{ child.avatarUrl | imagine_filter('relative') }}" alt="">
                                        </div>
                                        <div class="info">
                                            <p itemprop="familyName">{{ child.lastName|title }}</p>
                                            <p itemprop="givenName" class="firstName">{{ child.firstName | title }} </p>
                                            <p itemprop="additionalName" class="secondary">{{ child.nickname|title }}</p>
                                            <p class="date">{{ child.dates }}</p>
                                        </div>
                                    </a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <div class="actions">
                                            <a href="{{ path("person_edit", {'id' : child.id}) }}" class="">&#9998;</a>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if entity.brotherhood|length > 0 %}
                    <div class="relatives block">
                        <h2>{{ 'Brothers and sisters'|trans }}  {# ({{ entity.brotherhood|length }})
                        <button class="open-close">{{ 'Open'|trans }}</button>#}
                        </h2>
                        <div class="relative_list">
                            {% for brother in entity.brotherhood %}
                                <div class="person" itemprop="children" itemscope itemtype="http://schema.org/Person" itemprop="children" itemscope itemtype="http://schema.org/Person">
                                    <a class="person_tile" href="{{ path('person_show',{ 'id':brother.id }) }}">
                                        <div class="photo" data-src="{{ brother.avatarUrl | imagine_filter('relative') }}" data-gender="{{ brother.sex }}">
                                            <img src="{{ brother.avatarUrl | imagine_filter('relative') }}" alt="">
                                        </div>
                                        <div class="info">
                                            <p itemprop="familyName">{{ brother.lastName|title }}</p>
                                            <p itemprop="givenName" class="firstName">{{ brother.firstName | title }} </p>
                                            <p itemprop="additionalName" class="secondary">{{ brother.nickname|title }}</p>
                                            <p class="date">{{ brother.dates }}</p>
                                        </div>
                                    </a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <div class="actions">
                                            <a href="{{ path("person_edit", {'id' : brother.id}) }}" class="">&#9998;</a>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="files" style="display: none;">
        <div class="filegallery">
            <div class="">
                <h3 class="title">{{ 'Gallery'|trans }}</h3>
                {% for file in entity.files %}
                    {% if file.type == constant("GalleryBundle\\Entity\\File::FILE_IMAGE") %}
                        <a href="{{ path("gallery_show_file", { 'id' : file.id }) }}" class="item ajaxlink file_{{ file.id }}">
                            <img src="{{ ('/uploads/files/' ~ file.file) | imagine_filter('gallery_thumb') }}">
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="">
                <h3 class="title">{{ 'Documents'|trans }}</h3>
                {% for file in entity.files %}
                    {% if file.type == constant("GalleryBundle\\Entity\\File::FILE_DOCUMENT") %}
                        <a href="{{ path("gallery_show_file", { 'id' : file.id }) }}" class="item ajaxlink file_{{ file.id }}">
                            <img src="{{ ('/uploads/files/' ~ file.file) | imagine_filter('gallery_thumb') }}">
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="">
                <h3 class="title">{{ 'Video files'|trans }}</h3>
                {% for file in entity.files %}
                    {% if file.type == constant("GalleryBundle\\Entity\\File::FILE_VIDEO") %}
                        <a href="{{ path("gallery_show_file", { 'id' : file.id }) }}" class="item ajaxlink file_{{ file.id }}">
                            <img src="{{ ('/uploads/files/' ~ file.file) | imagine_filter('gallery_thumb') }}">
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="">
                <h3 class="title">{{ 'Tagged'|trans }}</h3>
                {% for file in taggedFiles %}
                    <a href="{{ path("gallery_show_file", { 'id' : file.id }) }}" class="item ajaxlink file_{{ file.id }}">
                        <img src="{{ ('/uploads/files/' ~ file.file) | imagine_filter('gallery_thumb') }}">
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="TipContent">
        {{ "If something in this profile is incorrect then press this button to suggest changes to this person. Changes will be displayed after moderation."|trans }}<br>
        <button> {{ "Close"|trans }} </button>
    </div>

    <script src="/js/jeditable.min.js" type="text/javascript"></script>
    <script src="{{ asset('js/asgu.ajaxify.js') }}" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            centerImages();
            $(".edit_tooltip").click(function () {
                if (!localStorage["firstClick"]) {
                    localStorage["firstClick"] = false;
                    event.preventDefault();
                    var top = $(".edit_tooltip").offset().top;
                    var left = $(".edit_tooltip").offset().left;
                    $("#primary").append("<div class=\"ttooltip\"></div>");
                    $(".ttooltip").css("top", top + 30 + "px").css("left", left + "px");
                    $(".ttooltip").html($("#TipContent").html());
                }
            });

            $(document).on("click", ".ttooltip button", function () {
                $(".ttooltip").hide();
            });

            $(".show-children").on('click', function () {
                var text = $(this).text();
                $(this).text(text == "{{ 'Show children'|trans }}" ? "{{ 'Show all'|trans }}" : "{{ 'Show children'|trans }}");
                var parent_id = $(this).parent().attr('id');
                var child = $(this).parent().attr('data-child').split(',');

                $.each($('.parent'), function () {
                    if ($(this).attr('id') != parent_id) $(this).toggleClass('hide-child')
                });

                $('.child').toggleClass('hide-child');
                $.each(child, function (index, value) {
                    $('.child' + '#' + value).toggleClass('hide-child');
                });
            });

            $('body').on('click', '.open-close', function () {
                var text = $(this).text();
                $(this).text(text == "{{ 'Open'|trans }}" ? "{{ 'Close'|trans }}" : "{{ 'Open'|trans }}");
            });
            $(".parents h2, .spouses h2, .children h2, .bro h2").on("click", function () {
                $(this).parent().toggleClass("hide-relative");
                var text = $(this).find("button").text();
                $(this).find("button").text(text == "{{ 'Open'|trans }}" ? "{{ 'Close'|trans }}" : "{{ 'Open'|trans }}")
            });

            {% if app.user == 'admin' %}
            $(".str_edit").editable("/admin/person/edit/inline", {
                indicator: "<img src='/uploads/control/indicator.gif'>",
                tooltip: "Doubleclick to edit...",
                event: "dblclick",
                style: "inherit",
                submit: 'OK',
                submitdata: function () {
                    return {id: {{ entity.id }}, columnName: $(this).data("bind")};
                }
            });
            $(".area_edit").editable("/admin/person/edit/inline", {
                type: 'textarea',
                indicator: "<img src='/uploads/control/indicator.gif'>",
                tooltip: "Doubleclick to edit...",
                event: "dblclick",
                height: "40px",
                style: "inherit",
                submit: 'OK',
                submitdata: function () {
                    return {id: {{ entity.id }}, columnName: $(this).data("bind")};
                }
            });

            {% endif %}

        });
    </script>

{% endblock %}