{% extends 'TreeBundle::base.html.twig' %}
{% block invoke %}
	onload="PL();"
{% endblock %}
{% block body -%}
<link rel='stylesheet' href='/treet/styles.css' type='text/css' media='all' />
	<DIV CLASS="fullsize" STYLE="position:relative;">
		<DIV ID="treediv" CLASS="dright" STYLE="top:0px; height:100%; overflow:auto;">
			<DIV ID="treebg" CLASS="rbody" STYLE="position:absolute; left:0px; top:0px; cursor:move;" onselectstart="return false;">

			</DIV>
		</DIV>

		<DIV ID="navdiv" CLASS="dright" STYLE="bottom:0px; height:64px; ">
			<IFRAME NAME="navframe" SRC="/tree/navigation.htm" CLASS="fullsize" FRAMEBORDER="0" SCROLLING="no">
			</IFRAME>
		</DIV>
	</DIV>
{% endblock %}
{% block javascripts -%}
<SCRIPT language="JavaScript">
	var staticMode = false;
	var noCentering = false;
	var defaultZoom = 1;
	var defaultDetail = 'bv';
	var defaultBirthName = 0;
	var defaultMiddleName = 0;
	var defaultCousins = 1;
	var defaultChildren = 1;
	var defaultParents = 1;
	var nameColors = {
		living: '#000',
		deceased: '#777'
	};
	var person = {{ id }};
	var viewperson = {{ id }};
	var data = {{ data|raw }};
	$(document).ready(function(){
		TIS(document.getElementById('treebg'));
	});
</SCRIPT>
<script src="/treet/prototype-ajax.js" type="text/javascript"></script>
<script src="/treet/common.js" type="text/javascript"></script>
<script src="/treet/family.js" type="text/javascript"></script>
<script src="/treet/edit.js" type="text/javascript"></script>
<script src="/treet/tree.js" type="text/javascript"></script>
<script src="/treet/build.js" type="text/javascript"></script>
{% endblock %}