.file_upload {
    width: 100%;
    margin-bottom: 15px;
    color: #808181;
}

.download {
    position: absolute;
    right: 0;
    top: -40px;
}

.person-input {
    position: absolute;
    border: 3px #B8C5D6 solid;
    width: 170px;
    height: 68px;
    padding: 5px;
    background: #ECF4FB;
    z-index: 999;
}

.marked-persons b {
    float: left;
}

span.drag-box {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 0 0 0;
    cursor: move;
}

.drag-box img {
    width: 22px;
}

.marked-persons li {
    list-style: none;
    float: left;
}

.marked-persons li:after {
    content: ",";
}

.marked-persons li:last-child:after {
    content: "";
}

.person-input input {
    width: 100%;
}

.ttooltip {
    position: absolute;
    width: 260px;
    /* height: 200px; */
    background: #ECF4FB;
    padding: 10px;
    font-weight: bold;
    border: 2px solid #F44336;
}

#TipContent {
    display: none;
}

.alert {
    display: none;
}

#short-form {
    position: relative;
}

#short-form .short-search {
    position: absolute;
    right: 0;
    bottom: 0;
}

.short-search {
    width: 36px;
    height: 36px;
    float: right;
}

.toggle-short-form {
    width: 61px;
    height: 38px;
    position: absolute;
    right: 25px;
}

html {
    font-size: 16px;
}

* {
    text-transform: uppercase !important;
}

html, body {
    height: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 4px;
}

#primary {
    background-attachment: fixed;
}

.form-control {
    width: 100% !important;
}

.container-fluid {
    height: 100%;
    padding: 0;
}

.site-content {
    height: 100%;
}

.site-content .container-fluid {
    background-size: cover;
    position: relative;
}

.main-menu {
    margin-bottom: 0;
}

.main-menu li {
    line-height: 35px;
    padding: 0 25px;
}

.second-menu li {
    line-height: 35px;
}

.main-menu li a, .second-menu li a {
    display: block;
    color: #272D2D;
    border-bottom: 1px #A39BA8 solid;
}

.main-menu li:hover {
    background: #B8C5D6;

}

.main-menu li a:hover {
    border-bottom: 5px #B8C5D6 solid;
    text-decoration: none;
}

.second-menu {
    padding: 15px;
    background: #B8C5D6;
    border: none;

    margin-top: 0;
    margin-bottom: 0;
}

.second-menu .form-group {
    width: 100%;
}

.second-menu input, .second-menu button {
    background: #ECF4FB;
    border-radius: 0;
    border: 1px #A39BA8 solid;
    margin-bottom: 15px;
}

.second-menu button {
    background: #A39BA8;
    color: #fff;
    margin-bottom: 0;
}

.language a {
    width: 50%;
    float: left;
    border: none !important;
    text-align: center;
}

.language {
    border: none;
    margin-bottom: 20px;
}

#site-title h1 a {
    color: #272D2D;
}

#site-title h1 a:hover {
    text-decoration: none;
}

#site-title img {
    width: 100%;
    display: none;
}

#sidebar-wrap {
    background: #ECF4FB;
}

/*-----------------------------------------------------------------------------------*/
/*	4.0 Header
/*-----------------------------------------------------------------------------------*/

#site-title {

}

#site-titleimg {
    display: none;
}

#site-title h1 {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 1.375rem;
    line-height: 1.15;
    -ms-word-break: break-word;
    word-break: break-word;
}

#site-title h1 a {
    display: inline-block;
    height: 35px;
    line-height: 45px;
    padding-left: 15px;
}

#site-title h2.site-description {
    display: none;
}

/* --- Sidebar + Main Menu + Menu Widgets --- */
#mobile-menu-btn {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 44px;
    height: 34px;
    display: block;
    background: #B8C5D6 url(/img/menu-btn.png) 0 0 no-repeat;
    text-indent: -99999px;
}

#mobile-menu-btn:hover {
    background: #A39BA8 url(/img/menu-btn.png) 0 0 no-repeat;
}

/* --- Language Switcher --- */
.translate-wrap {
    clear: both;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 15px !important;
    right: 54px;
}

.translate-wrap select {
    border-radius: 0;
}

#lang_sel_list {
    width: auto;
    height: auto;
    border: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#lang_sel_list ul {
    width: 100%;
    border-top: none;
}

#lang_sel_list.lang_sel_list_horizontal ul {
    border: none;
    margin: 0;
    padding: 0;
}

#lang_sel_list.lang_sel_list_horizontal li {
    padding: 0;
    width: 44px;
    float: left;
    display: inline-block;
}

.translate-wrap #lang_sel_list a {
    width: 44px;
    height: 34px;
    display: inline-block;
    line-height: 35px;
    background-size: 100% 100%;
    border: none;
    font-size: 0.8125rem;
    color: #fff;
    text-align: center;
    font-weight: normal;
    letter-spacing: 1px;
}

.translate-wrap #lang_sel_list a:hover, .translate-wrap #lang_sel_list a.lang_sel_sel:hover {

    border: none;
    text-decoration: none;
}

.copyright {
    display: none;
    bottom: 0;
    font-weight: bold;
    color: #F44336;
}

/*-----------------------------------------------------------------------------------*/
/*	14.0 Search
/*-----------------------------------------------------------------------------------*/
.search-result {
    border: 10px #B8C5D6 solid;
    background: #ECF4FB;
    min-width: 600px;
}

.search-result .search-box {
    width: 100%;
    background: #B7C4D5;
    overflow: hidden;
    position: relative;
    padding: 10px 0 0 0;
}

.search-box {
    width: 100%;
    background: #B7C4D5;
    margin: auto;
    padding: 10px;
    left: 0;
    right: 0;
    overflow: hidden;
    position: absolute;
}

.search-box .form-group {
    width: 100%;
    height: 39px;
}

.search-box input {
    width: 100%;
    height: 100%;
    background: #EDF5FC;
    border-radius: 0;
    border: 1px #808181 solid;
    font-size: 18px;
}

.search-box .search-button {
    width: 100%;
    height: 39px;
    background: #F44336;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: 1px #808181 solid;
    bottom: 0;
    font-weight: bold;
}

.search-box .search-actions {
    text-align: center;
}

.search-box .search-actions button {
    background: rgb(221, 221, 221);
    width: 49.5%;
    color: #ff0000;
    display: inline;
    font-weight: bold;
    border: 1px #000 solid;
    height: 39px;
}

.collapsed .form-group {
    display: none;
}

.collapsed .form-group:first-child {
    display: block;
    margin-bottom: 0;
}

.not-found-message {
    font-size: 18px;
    width: 100%;
    display: block;
    text-align: center;
    padding: 5px 0;
}

#apply_language {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 37px;
}

#search-results-table_filter {
    border: 10px #B8C5D6 solid;
    background: #ECF4FB;
    border-bottom: none;
    border-right: none;
    float: right;
    height: 60px;
    padding: 10px;
}

#search-results-table_filter input {
    border: none;
    height: 30px;
}

#search-results-table {
    border: 10px #B8C5D6 solid;
    border-right: none;
    border-left: none;
    text-align: left;
}

.search-result h1 {
    margin: 10px 0;
    display: inline-block;
}

.view-switcher button {
    position: relative;
    top: -10px;
    z-index: 999;
    border: 1px #868587 solid;
    border-bottom: none;
    border-left: none;
    width: 150px;
    height: 40px;
    font-weight: bold;
    padding: 0;

    background: #A39BA8;
    color: #fff;
}

.search-result button.active {
    background: #B8C5D6;
    color: #fff;
}

.search-result button:hover {
    background: #ECF4FB;
    color: #9E95A2;
}

.table-container {
    font-weight: bold;
    position: relative;
    top: -103px;
}

/****************************
PROFILE
*****************************/
.profile {
    position: relative;
    background: #ECF4FB;
    border: 7px #B8C5D6 solid;
    margin: 10px 0 0 0;
}

.profile-fixed {

}

.profile-avatar {
    float: left;
    width: 25%;
    height: auto;
}

.profile-info {
    padding: 10px;
    float: left;
    width: 75%;
}

.profile-info ul {
    list-style: none;
    padding: 0;
}

.profile-info ul li {
    font-size: 24px;
    font-weight: bold;
    float: none;
}

.open-close {
    background: #B8C5D6;
    border: 0;
    margin-left: 15px;
}

.profile-details {
    font-weight: bold;
    margin-bottom: 0;
}

.profile-details .tlabel {
    width: 1%;
    white-space: nowrap;
}

.profile-details table tr td {

}

.relative {
    position: relative;
    width: 100%;
    float: left;
    font-weight: bold;
    color: #000;
    border: 5px solid #B8C5D6;
    border-left: none;
}

.relative a {
    color: #000;
}

.relative a:hover {
    color: #000;
}

.relative a:visited {
    color: #000;
}

.relative .photo {
    width: 90px;
    /*width: auto;*/
    height: 120px;
    float: left;
    margin-right: 10px;
}

.relative .photo img {
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.relative .name {
    margin-top: 5px;
    /*float: left;*/
}

button.remove-revative {
    background: #B8C5D6;
    border: none;
    right: 0;
    top: 0;
    position: absolute;
}

.relative-title {
    width: 100%;
    clear: both;
}

.profile h2 {
    margin: 0;
    padding: 0 50px 0 10px;
    /*background: url(/uploads/control/minus.png) no-repeat 99% 50%;*/
}

.hide-child {
    display: none;
    opacity: 0.3;
}

.hide-relative {
    height: 53px;
    overflow: hidden;

}

.hide-relative h2 {
    /*background: url(/uploads/control/arrow.png) no-repeat 99% 50%;*/
}

.view-switcher {
    position: relative;
    left: 5px;
    top: -38px;
}

.table-view {
    text-align: left;
}

.table-view .view-switcher {
    top: -38px;
    left: 5px;
}

.search-title {
    text-align: center;
    height: 53px;
    padding-top: 43px;
}

.table-view .search-title {
    padding-top: 0;
}

.counter {
    text-align: center;
}

.ok-icon {
    background: url(/uploads/ok.png);
    width: 25px;
    background-size: cover;
    height: 25px;
    float: left;
    display: none;
}

.help {
    width: 100px;
    border: 2px #F44336 solid;
    position: fixed;
    right: 20px;
    top: 20px;
    text-align: center;
    background: #ECF4FB;
    font-weight: bold;
    color: #F44336;
}

.help img {
    width: 100%;
    height: 100%;
}

.no-padding {
    padding: 0 !important;
}

/*-----------------------------------------------------------------------------------*/
/*	15.0 Media Queries
/*-----------------------------------------------------------------------------------*/

@media screen and (max-width: 991px) {
    .col-md-6 {
        padding: 0;
    }

    .profile-info ul li {
        font-size: 22px;
    }
}

/* Minimum width of 767 pixels
------------------------------------------------------------------------------------ */
@media screen and (min-width: 767px) {
    /* --- General --- */
    #masthead {

    }

    #site-title {

    }

    #site-title img {
        display: none;
    }

    #site-title h1 a {
        display: inline-block;

    }

    #mobile-menu-btn {
        top: 15px;
        right: 35px;
    }

    .translate-wrap {
        top: 15px !important;
        right: 79px;
    }

    #site-nav {
        padding: 0;
    }

    .site-content .post, .site-content .type-attachment, .search-results .site-content .page {
        padding: 100px 35px 0;
    }

    .site-content .page {
        padding-left: 0;
        padding-right: 0;
    }

    .site-content .page, .entry-footer {
        padding-bottom: 100px;
    }

    .single .entry-footer {
        padding-top: 100px;
    }

    #nav-below, #nav-single, #nav-image, #nav-comments, .site-content .page, .archive-header {
        margin: 0 35px;
    }

    #colophon {
        margin: 0 35px;
    }

    #nav-single {
        margin: 0 35px;
        padding: 100px 0;
    }

    .copyright {
        display: none;
    }

    /* --- Headlines --- */
    h1 {
        font-size: 30px;
        font-size: 1.875rem;
    }

    h1.entry-title {
        line-height: 1.35;
    }

    h2 {
        margin: 54px 0 44px;
        font-size: 30px;
        font-size: 1.125rem;
        line-height: 1.35;
    }

    h3 {
        margin: 44px 0 14px;
        font-size: 23px;
        font-size: 1.4375rem;
    }

    h4 {
        margin: 44px 0 14px;
        font-size: 20px;
        font-size: 1.25rem;
    }

    h5 {
        font-size: 18px;
        font-size: 1.125rem;
    }

    h6 {
        font-size: 18px;
        font-size: 1.125rem;
    }

    .hide-relative {
        height: 40px;
    }

    .profile-info ul li {
        font-size: 22px;
    }

}

/* Minimum width of 1023 pixels
------------------------------------------------------------------------------------ */
@media screen and (min-width: 1023px) {

    .fixed {
        position: absolute;
    }

    .relfixed {
        margin-left: 50%;
    }

    #sidebar-wrap {
        width: 250px;
        position: fixed;
        top: 0;
        bottom: 0;
        height: auto;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    #masthead, #site-nav, #secondary {

    }

    #primary {
        padding: 0 0 0 250px;
    }

    #nav-below, #nav-single, #nav-image, #nav-comments, .site-content .page, .archive-header {
        margin-left: 0;
        margin-right: 0;
    }

    #mobile-menu-btn {
        display: none;
    }

    #site-title img {
        display: block;
    }

    #site-title {
        margin-right: 0;
        text-align: center;
        clear: both;
        overflow: hidden;
    }

    #site-title h1 a {
        display: block;
        padding: 0;
        color: #272D2D;
    }

    #site-nav {
        display: block !important;
        padding-top: 30px;
    }

    #site-nav ul li a {
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 35px;
        color: #272D2D;
        border-bottom: 1px #A39BA8 solid;
    }

    .second-menu {
        margin-top: 85px;
        border: 1px #A39BA8 solid;
        border-left: none;
        border-right: none;
    }

    /* --- Language Switcher --- */
    .translate-wrap {
        top: 390px !important;
        right: 10px;
        width: 230px;
    }

    .copyright {
        display: block;
    }

    .search-box {
        width: 500px;
    }

    .profile-info ul li {
        font-size: 14px;
    }
}

/* Minimum width of 1270 pixels
------------------------------------------------------------------------------------ */
@media screen and (min-width: 1270px) {
    #container {
        position: relative;
        overflow: hidden;
        margin: 0 auto;
    }

    #sidebar-wrap {
        width: 250px;
        position: fixed;
        top: 0;
        bottom: 0;
        height: auto;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    #sidebar {
        width: 250px;
        position: absolute;
    }

    #primary {
        padding: 0 0 0 250px;
    }

    #site-title img {
        display: block;
    }

    .profile-info ul li {
        font-size: 18px;
    }

}

/* Minimum width of 1350 pixels
------------------------------------------------------------------------------------ */
@media screen and (min-width: 1350px) {
    #sidebar-wrap {
        width: 250px;
    }

    #site-title img {
        display: block;
    }

    .profile-info ul li {
        font-size: 20px;
    }
}

/* Minimum width of 1440 pixels
------------------------------------------------------------------------------------ */
@media screen and (min-width: 1435px) {
    /* --- General --- */
    #container {
        position: relative;
        overflow: hidden;
        max-width: 1440px;
        margin: 0 auto;
    }

    #sidebar-wrap {
        width: 250px;
    }

    #site-title img {
        display: block;
    }

    .profile-info ul li {
        font-size: 22px;
    }

    .relative {
        width: 50%;
    }
}

/*-----------------------------------------------------------------------------------*/
/*	16.0 HiDPI (= Retina) Displays
/*-----------------------------------------------------------------------------------*/
@media (min--moz-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3/2),(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5) {

}

@media (min--moz-device-pixel-ratio: 1.5) and (min-width: 767px),(-o-min-device-pixel-ratio: 3/2) and (min-width: 767px),(-webkit-min-device-pixel-ratio: 1.5) and (min-width: 767px),(min-device-pixel-ratio: 1.5) and (min-width: 767px),(min-resolution: 1.5dppx) and (min-width: 767px) {

}

@media (min--moz-device-pixel-ratio: 1.5) and (min-width: 1023px),(-o-min-device-pixel-ratio: 3/2) and (min-width: 1023px),(-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1023px),(min-device-pixel-ratio: 1.5) and (min-width: 1023px),(min-resolution: 1.5dppx) and (min-width: 1023px) {

}

@media (min--moz-device-pixel-ratio: 1.5) and (min-width: 1270px),(-o-min-device-pixel-ratio: 3/2) and (min-width: 1270px),(-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1270px),(min-device-pixel-ratio: 1.5) and (min-width: 1270px),(min-resolution: 1.5dppx) and (min-width: 1270px) {

}

/*-----------------------------------------------------------------------------------*/
/*	17.0 Print
/*-----------------------------------------------------------------------------------*/
@media print {
    body {
        background: none !important;
        color: #000;
        font-size: 10pt;
    }

    .site-title {
        color: #000;
        font-size: 21pt;
    }

    .site-description, #site-nav, #secondary, .comment-respond, .comments-area .comment-edit-link, .comments-area .reply, .comments-link, #colophon {
        display: none;
    }

    .entry-header, .entry-content, .entry-summary, .entry-meta {
        margin: 0;
        width: 100%;
    }

    .page-title, .entry-title {
        font-size: 18pt;
    }
}

@media screen and (max-height: 838px) {

    #site-nav {
        padding-top: 0;
    }

    #site-title img {
        display: none;
    }
}

@media screen and (max-height: 838px) and (min-width: 1023px) {
    .translate-wrap {
        top: 318px !important;
    }
}

.col-lg-6 {
    text-align: justify;
}

.message img, .change img, .log img {
    width: 150px;
}

.accept, .decline {
    background: url(/uploads/control/remove.png);
    border: none;
    background-size: cover;
    width: 40px;
    height: 40px;
    float: left;
}

.accept {
    background: url(/uploads/control/accept.png);
    background-size: cover;
}

#person-slider {
    width: 500px;
    margin: 0 auto;
}

#person-slider .person-slide {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.person-slide a {
    color: #000;
    font-weight: bold;
}

.person-slide a:hover {
    color: #000;
}

.person-slide a:visited {
    color: #000;
}

#person-numbers {
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

.person-next {
    position: absolute;
    top: 40%;
    right: -50px;
}

.person-prev {
    position: absolute;
    top: 40%;
    left: -50px;
}

.person-next img, .person-prev img {
    width: 75px;
    height: 75px;
}

#person-files {
    position: relative;
    background: #FFF;
    padding: 2em 3em;
    width: auto;
    margin: 20px auto;
    max-width: 924px;
}

.edit-box img {
    width: 600px;
    height: 600px;
}

.profile_actions {
    position: absolute;
    right: 0;
    bottom: -38px;
    text-align: right;
}

.profile_actions a, .profile_actions button {
    color: #000;
    border-radius: 0;
    font-weight: bold;
}

.action-buttons {
    display: block;
    position: absolute;
    right: 0;
    text-align: right;
    width: 150px;

}

.action-buttons a {
    color: #fff;
    margin-bottom: 1px;
}

.action-buttons a.popup-files {
    float: left;
}

.action-buttons button {
    color: #000;
    border-radius: 0;
    font-weight: bold;
    /*background: #A39BA8;*/

}

.action-buttons button {
    width: 150px;
    padding: 6px 0;
}

.btn-primary {
    border-color: #A39BA8;
}

.btn-primary:hover {
    border-color: #B8C5D6;
}

.delete-form .btn-primary {
    width: 120px;
    border-color: #A39BA8;
    border-radius: 0;
    font-weight: bold;
    position: absolute;
    right: 0;
    background: #F44336;
    padding: 6px 0;
}

.edit .profile-info {
    padding-right: 160px;
}

.green {
    background: #008000 !important;
}

.photo-gal, .main-photo {
    position: relative;
    display: block;
    list-style: none;
    float: left;
    width: 130px;
    height: 130px;
    overflow: hidden;
    margin: 5px;
}

.document-gal {
    position: relative;
    display: block;
    list-style: none;
    float: left;
    width: 115px;
    height: 150px;
    overflow: hidden;
    margin: 5px;
    color: #000;
    padding-bottom: 35px;
    text-decoration: none;
    font-size: 12px;
}

.document img {
    width: 90px;
}

div.add-photo, div.add-document {
    width: 60px;
    height: 60px;
    font-size: 62px;
    margin: 20px;
    display: block;
    color: #000;
    text-align: center;
    float: left;
    background: url('/uploads/control/plus-icon.gif');
    background-size: cover;
}

div.add-photo:hover {
    background: #B8C5D6, url('/uploads/control/plus-icon.gif');
}

#photo, #file, #video {
    opacity: 0;
    height: 90px;
    width: 90px;
    margin: 5px;
    overflow: hidden;
}

.show-children {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #B8C5D6;
    border: 1px #A39BA8 solid;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    cursor: default;
    overflow: auto;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-no-suggestion {
    padding: 2px 5px;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: bold;
    color: #000;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    font-weight: bold;
    font-size: 16px;
    color: #000;
    display: block;
    border-bottom: 1px solid #000;
}

#photo-files a {
    display: block;
    list-style: none;
    float: left;
    width: 90px;
    height: 90px;
    overflow: hidden;
    margin: 5px;
}

.contact {
    width: 500px;
    background: #B7C4D5;
    margin: auto;
    border: 1px #808181 solid;
    padding: 20px;
    overflow: hidden;
    position: relative;
}

.contact input {
    height: 100%;
    background: #EDF5FC;
    border-radius: 0;
    border: 1px #808181 solid;
    font-size: 18px;
}

.contact textarea {
    height: 100%;
    background: #EDF5FC;
    border-radius: 0;
    border: 1px #808181 solid;
    font-size: 18px;
    width: 100%;
    padding: 6px 12px;
}

.contact h1 {
    margin: 0;
}

.contact .form-group {
    width: 100%;
}

span.change {
    color: #F44336;
}

span.old {
    color: #B8C5D6;
}

.relative.remove {
    opacity: 0.5
}

.relative.add {
    border: 1px #0f0 solid;
}

.message-box {
    width: 500px;
    border: 10px #B8C5D6 solid;
    background: #ECF4FB;
    min-width: 600px;
    margin: 0 auto;
}

.message-box h1 {
    text-align: center;
}

.message-box p {
    text-align: center;
}

.profile input,
.profile select,
.profile textarea {
    border-radius: 0;
}

.photo-gal:hover .actions,
.document-gal:hover .actions,
.video-gal:hover .actions,
.main-photo:hover .actions {
    display: block;
}

/*.actions {
    display: none;
    position: absolute;
    z-index: 99999;
    top: 0;
    right: 0;
}

.actions img {
    width: 30px;
    height: 30px;
}

.actions img {
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}
*/
.prior {
    border: 2px #0f0 solid;
}

.actions img:hover {
    filter: none; /* IE6-9 */
    filter: grayscale(0); /* Firefox 35+ */
    -webkit-filter: grayscale(0);
}

.logged {
    background: #008000;
    margin-top: 10px;
}

.logged li a {
    color: #fff !important;
}

.mother {
    float: right;
}

.back-button img {
    width: 100px;
}

.mdate {
    position: absolute;
    bottom: 0;
    left: 100px;
}

.mdate.edit {
    position: absolute;
    right: 5px;
    bottom: 0;
}

.ch {
    bottom: 0;
}

.secondary {
    font-size: 70%;
    font-style: italic;
}

p .secondary {
    padding-left: 5px;
}

.email {
    width: 500px;
}

.managers {
    background: #fff;
}

.img-gal {
    width: 100%;
}

#description {
    font-size: 14px;
    width: 75%;
    height: 66px;
    text-transform: none !important;
    transition: background 2s ease-in-out;

    -webkit-transition: border 500ms ease-out;
    -moz-transition: border 500ms ease-out;
    -o-transition: border 500ms ease-out;
    transition: border 500ms ease-out;
}

.content {
    position: absolute;
    right: 0;
    top: 150px;
    width: 500px;
    display: none;
}

.radio {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
    width: 50%;
    line-height: 39px;
}

.radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

.radio input {
    width: 20px;
    height: 20px;
    margin: 9px;
}

.lock {
    width: 20px;
    height: 20px;
    float: right;
}

.password {
    position: absolute;
    right: 5px;
    top: 5px;
}

/* COPYRIGHT */

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

#tree-container {
    background: #eee;
    overflow: hidden;
}

.title, .records_list {
    background: #fff;
}

.customselect {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

.register {
    max-width: 330px;
    margin: 300px auto 0 auto;
    padding: 10px;
}

.register input {
    text-transform: none !important;

}

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be alte#F44336.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
}

#cboxWrapper {
    max-width: none;
}

#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
    clear: left;
}

#cboxContent {
    position: relative;
}

#cboxLoadedContent {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#cboxTitle {
    margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    cursor: pointer;
}

.cboxPhoto {
    float: left;
    margin: auto;
    border: 0;
    display: block;
    max-width: none;
    -ms-interpolation-mode: bicubic;
}

.cboxIframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
}

#colorbox, #cboxContent, #cboxLoadedContent {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    orde#F44336 & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
    background: url(/img/overlay.png) repeat 0 0;
}

#colorbox {
    outline: 0;
}

#cboxTopLeft {
    width: 21px;
    height: 21px;
    background: url(/img/controls.png) no-repeat -101px 0;
}

#cboxTopRight {
    width: 21px;
    height: 21px;
    background: url(/img/controls.png) no-repeat -130px 0;
}

#cboxBottomLeft {
    width: 21px;
    height: 21px;
    background: url(/img/controls.png) no-repeat -101px -29px;
}

#cboxBottomRight {
    width: 21px;
    height: 21px;
    background: url(/img/controls.png) no-repeat -130px -29px;
}

#cboxMiddleLeft {
    width: 21px;
    background: url(/img/controls.png) left top repeat-y;
}

#cboxMiddleRight {
    width: 21px;
    background: url(/img/controls.png) right top repeat-y;
}

#cboxTopCenter {
    height: 21px;
    background: url(/img/border.png) 0 0 repeat-x;
}

#cboxBottomCenter {
    height: 21px;
    background: url(/img/border.png) 0 -29px repeat-x;
}

#cboxContent {
    background: #fff;
    overflow: hidden;
}

.cboxIframe {
    background: #fff;
}

#cboxError {
    padding: 50px;
    border: 1px solid #ccc;
}

#cboxLoadedContent {
    margin-bottom: 28px;
}

#cboxTitle {
    position: absolute;
    bottom: 22px;
    left: 0;
    text-align: center;
    width: 100%;
    color: #000;
    font-size: 1em;
    background: #fff;
}

#cboxCurrent {
    position: absolute;
    bottom: 4px;
    left: 58px;
    color: #949494;
}

#cboxLoadingOverlay {
    background: url(/img/loading_background.png) no-repeat center center;
}

#cboxLoadingGraphic {
    background: url(/img/loading.gif) no-repeat center center;
}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
    border: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
    width: auto;
    background: none;
}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
    outline: 0;
}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/

/*
FACEBOOK
*/

.string {
    width: calc(100% - 250px);
    position: absolute;
    height: 60px;
    margin: 30px auto;
    line-height: 28px;
    padding: 0 10px;
    border-radius: 4px;
    box-shadow: 0 1px 2px #777;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: rgb(238, 238, 238);
    background: -moz-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238, 238, 238, 1)), color-stop(100%, rgba(204, 204, 204, 1)));
    background: -webkit-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%);
    background: -o-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%);
    background: -ms-linear-gradient(top, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%);
    background: linear-gradient(to bottom, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
    bottom: 0;
}

.hidden {
    /*Opacity settings for all browsers*/
    opacity: 0;
    -moz-opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}

.timeline {
    position: relative;
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em 0;
    list-style-type: none;
    z-index: 0;
}

.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: rgb(80, 80, 80);
    background: -moz-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 1)), color-stop(100%, rgba(125, 185, 232, 1)));
    background: -webkit-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
    background: -o-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
    background: -ms-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
    background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);

    z-index: 5;
}

.timeline li {
    padding: 1em 0;
}

.timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.direction-l {
    position: relative;
    width: 300px;
    float: left;
    text-align: right;
}

.direction-r {
    position: relative;
    width: 300px;
    float: right;
}

.flag-wrapper {
    position: relative;
    display: inline-block;

    text-align: center;
}

.flag {
    position: relative;
    display: inline;
    background: rgb(248, 248, 248);
    padding: 6px 10px;
    border-radius: 5px;

    font-weight: 600;
    text-align: left;
}

.direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -40px;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(255, 80, 80);
    z-index: 10;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.direction-r .flag:before {
    left: -40px;
}

.direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(248, 248, 248);
    border-width: 8px;
    pointer-events: none;
}

.direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(248, 248, 248);
    border-width: 8px;
    pointer-events: none;
}

.time-wrapper {
    display: inline;

    line-height: 1em;
    font-size: 0.66666em;
    color: rgb(250, 80, 80);
    vertical-align: middle;
}

.direction-l .time-wrapper {
    float: left;
}

.direction-r .time-wrapper {
    float: right;
}

.time {
    display: inline-block;
    padding: 4px 6px;
    background: rgb(248, 248, 248);
}

.desc {
    margin: 1em 0.75em 0 0;

    font-size: 0.77777em;
    font-style: italic;
    line-height: 1.5em;
}

.direction-r .desc {
    margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

    .timeline {
        width: 100%;
        padding: 4em 0 1em 0;
    }

    .timeline li {
        padding: 2em 0;
    }

    .direction-l,
    .direction-r {
        float: none;
        width: 100%;

        text-align: center;
    }

    .flag-wrapper {
        text-align: center;
    }

    .flag {
        background: rgb(255, 255, 255);
        z-index: 15;
    }

    .direction-l .flag:before,
    .direction-r .flag:before {
        position: absolute;
        top: -30px;
        left: 50%;
        content: ' ';
        display: block;
        width: 12px;
        height: 12px;
        margin-left: -9px;
        background: #fff;
        border-radius: 10px;
        border: 4px solid rgb(255, 80, 80);
        z-index: 10;
    }

    .direction-l .flag:after,
    .direction-r .flag:after {
        content: "";
        position: absolute;
        left: 50%;
        top: -8px;
        height: 0;
        width: 0;
        margin-left: -8px;
        border: solid transparent;
        border-bottom-color: rgb(255, 255, 255);
        border-width: 8px;
        pointer-events: none;
    }

    .time-wrapper {
        display: block;
        position: relative;
        margin: 4px 0 0 0;
        z-index: 14;
    }

    .direction-l .time-wrapper {
        float: none;
    }

    .direction-r .time-wrapper {
        float: none;
    }

    .desc {
        position: relative;
        margin: 1em 0 0 0;
        padding: 1em;
        background: rgb(245, 245, 245);
        -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
        -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);

        z-index: 15;
    }

    .direction-l .desc,
    .direction-r .desc {
        position: relative;
        margin: 1em 1em 0 1em;
        padding: 1em;

        z-index: 15;
    }

}

.pages {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.help-box {
    top: 200px;
    width: 500px;
    background: #B7C4D5;
    margin: auto;
    left: 0;
    right: 0;
    padding: 10px;
    overflow: hidden;
    position: absolute;
}

.overlay {
    position: fixed;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.popup_container {
    width: 919px;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50px;
    padding: 15px;
}

/* ------------------ */

.fileupload {
    width: 100%;
}

.fileupload .checkbox,
.fileupload .radio {
    width: 100%;
    text-align: left;
    margin: 0;
    display: inline-block;
    line-height: 30px;
}

.fileupload .checkbox label,
.fileupload .radio label {
    min-height: 20px;
    padding-left: 25px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.fileupload .checkbox input,
.fileupload .radio input {
    margin: 5px 0px 0px -25px;
    width: 20px;
    height: 20px;
}

.fileupload .preview {
    width: 100%;
    position: relative;
}

.fileupload .preview img,
.fileupload .preview iframe {
    display: block;
    height: 500px;
    margin: 0 auto;
}
.fileupload .preview iframe {
    width: 100%;
}


.fileupload .controls {
    padding: 15px 0;
}

.fileupload .controls .data {
    width: 75%;
    float: left;
    padding: 0 15px 0 0;
    border-right: 1px #000 solid;

}
.fileupload .controls .meta {
    width: 25%;
    float: left;
    padding: 0 0 0 15px;
}

.fileupload .progress {
    width: 0;
    clear: both;
}

.fileupload .progress .progressbar {
    height: 100%;
    background: #3573A9;
}

/* ------------------ */
.filegallery {
    width: 100%;
}

.filegallery h3 {
    margin: 5px;
}

.filegallery .block {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px #000 solid;
}

.filegallery .item {
    display: inline-block;
    max-height: 100px;
    margin: 5px;
}

.filegallery .item img {
    max-height: 100px;
}

.filegallery .header .title {
    width: 74%;
    display: inline-block;
}

.filegallery .header .actions {
    width: 25%;
    display: inline-block;
}

/* ------------------ */

.gallery {
    padding: 15px;
}

.gallery .add_file {
    position: relative;
    display: block;
    float: left;
    margin: 0 4px;
}

.gallery .add_file img {
    padding: 11px 0;
}

.gallery .add_file span {
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.gallery .item {
    display: inline-block;
    line-height: 220px;
}

.galleryfile {
    width: 100%;
}

.galleryfile .preview {
    position: relative;
}

.galleryfile h3 {
    margin: 15px 0 5px;
    width: 79%;
    display: inline-block;
}

.galleryfile .header {
    margin: 15px 0;
}

.galleryfile .file_download {
    display: inline-block;
    width: 20%;
    text-align: center;
    padding: 10px;
    background: #DDD;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.galleryfile .file_download:hover {
    text-decoration: underline;
}

.galleryfile img {
    width: auto;
    max-width: 800px;
    max-height: 500px;
    display: block;
    margin: 0 auto;
}

/* ----------------- */

.person_tag {
    display: inline-block;
    float: left;
    background: #CECECE;
    padding: 5px;
    margin: 5px 10px 5px 0;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    color: #000;
}

.person_tag_delete {
    padding: 0 5px 0 0;
}

.person_tag_on {
    padding: 0 5px;
}

.person_tag_delete:hover,
.person_tag_on:hover {
    color: #f00;
}

.person_tag a {
    color: #000;
    text-decoration: none;
}

.frame_container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    border: 0;
    height: 100%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.6);
}

.frame_container .frame {
    /*border: 2px #F44336 solid;*/
    position: absolute;
    z-index: 9999;
    overflow: hidden;
}

.frame_container .frame img {
    border: none;
    visibility: visible;
    margin: 0;
    padding: 0;
    position: absolute;
}

/* ---------------------- */

.suggestions_container {
    position: absolute;
    left: 0;
    top: 25px;
    width: 100%;
}

.suggestions_container .suggest {
    padding: 5px;
    background: #fff;
    cursor: pointer;
    border-bottom: 1px #000 solid;
}

.suggestions_container .suggest:hover {
    background: #eee;
}

.suggestions_container .suggest .suggest_img {
    width: 20%;
    float: left;
    padding-right: 5px;
}

.suggestions_container .suggest .suggest_img img {
    max-width: 20px;
    width: 100%;
}

.suggestions_container .suggest .suggest_text {

}

.autocomplete_container {
    float: left;
    position: relative;
    margin: 2px 0;
    padding: 5px;
}

.tag_person {
    margin: 2px 0;
    padding: 6px;
}

/* --------------------------- */
.jcrop-holder {
    direction: ltr;
    text-align: left;
    margin: 0 auto;
}

/* Selection Border */
.jcrop-vline,
.jcrop-hline {
    background: #ffffff url("Jcrop.gif");
    font-size: 0;
    position: absolute;
}

.jcrop-vline {
    height: 100%;
    width: 1px !important;
}

.jcrop-vline.right {
    right: 0;
}

.jcrop-hline {
    height: 1px !important;
    width: 100%;
}

.jcrop-hline.bottom {
    bottom: 0;
}

/* Invisible click targets */
.jcrop-tracker {
    height: 100%;
    width: 100%;
    /* "turn off" link highlight */
    -webkit-tap-highlight-color: transparent;
    /* disable callout, image save panel */
    -webkit-touch-callout: none;
    /* disable cut copy paste */
    -webkit-user-select: none;
}

/* Selection Handles */
.jcrop-handle {
    background-color: #333333;
    border: 1px #eeeeee solid;
    width: 7px;
    height: 7px;
    font-size: 1px;
}

.jcrop-handle.ord-n {
    left: 50%;
    margin-left: -4px;
    margin-top: -4px;
    top: 0;
}

.jcrop-handle.ord-s {
    bottom: 0;
    left: 50%;
    margin-bottom: -4px;
    margin-left: -4px;
}

.jcrop-handle.ord-e {
    margin-right: -4px;
    margin-top: -4px;
    right: 0;
    top: 50%;
}

.jcrop-handle.ord-w {
    left: 0;
    margin-left: -4px;
    margin-top: -4px;
    top: 50%;
}

.jcrop-handle.ord-nw {
    left: 0;
    margin-left: -4px;
    margin-top: -4px;
    top: 0;
}

.jcrop-handle.ord-ne {
    margin-right: -4px;
    margin-top: -4px;
    right: 0;
    top: 0;
}

.jcrop-handle.ord-se {
    bottom: 0;
    margin-bottom: -4px;
    margin-right: -4px;
    right: 0;
}

.jcrop-handle.ord-sw {
    bottom: 0;
    left: 0;
    margin-bottom: -4px;
    margin-left: -4px;
}

/* Dragbars */
.jcrop-dragbar.ord-n,
.jcrop-dragbar.ord-s {
    height: 7px;
    width: 100%;
}

.jcrop-dragbar.ord-e,
.jcrop-dragbar.ord-w {
    height: 100%;
    width: 7px;
}

.jcrop-dragbar.ord-n {
    margin-top: -4px;
}

.jcrop-dragbar.ord-s {
    bottom: 0;
    margin-bottom: -4px;
}

.jcrop-dragbar.ord-e {
    margin-right: -4px;
    right: 0;
}

.jcrop-dragbar.ord-w {
    margin-left: -4px;
}

/* The "jcrop-light" class/extension */
.jcrop-light .jcrop-vline,
.jcrop-light .jcrop-hline {
    background: #ffffff;
    filter: alpha(opacity=70) !important;
    opacity: .70 !important;
}

.jcrop-light .jcrop-handle {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #000000;
    border-color: #ffffff;
    border-radius: 3px;
}

/* The "jcrop-dark" class/extension */
.jcrop-dark .jcrop-vline,
.jcrop-dark .jcrop-hline {
    background: #000000;
    filter: alpha(opacity=70) !important;
    opacity: 0.7 !important;
}

.jcrop-dark .jcrop-handle {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #ffffff;
    border-color: #000000;
    border-radius: 3px;
}

/* Simple macro to turn off the antlines */
.solid-line .jcrop-vline,
.solid-line .jcrop-hline {
    background: #ffffff;
}

/* Fix for twitter bootstrap et al. */
.jcrop-holder img,
img.jcrop-preview {
    max-width: none;
}

/* ------------------------------------ */
.fixed {
    position: fixed;
    width: calc(50% - 110px);
}

.separate {
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.separate > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: scroll;
}

.block {
    position: relative;
    background: #ECF4FB;
    border: 5px #B8C5D6 solid;
    margin: 10px 0 0 0;
}

.block h2 {
    padding: 0 10px;
    margin: 5px 0;
}

.relative_list:after {
    clear: both;
    content: " ";
    display: table;
}

.person {
    position: relative;
    max-width: 400px;
    height: 130px;
    display: block;
    width: 50%;
    float: left;
}

.person_tile {
    border: 5px #B8C5D6 solid;
    text-decoration: none;
    border-left: none;
    position: absolute;
    display: table-column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.person_tile:hover {
    text-decoration: none;
}

.person_tile .photo {
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    vertical-align: top;
    color: #000;
    font-weight: bold;
    width: 25%;
    height: 100%;
    overflow: hidden;
}

.person_tile .info {
    display: table-cell;
    padding: 5px 0 0 10px;
    margin: 0;
    vertical-align: top;
    color: #000;
    font-weight: bold;
    width: 75%;
}
.person_tile .info p {
    margin: 0;
    line-height: 20px;
}

.person .actions {
    position: absolute;
    right: 7px;
    top: 7px;
}

.person .actions a {
    background: #B8C5D6;
    border: none;
    color: #000;
    padding: 0;
    width: 30px;
    text-align: center;
    margin: 0 0 0 2px;
    display: inline-block;
    font-size: 22px;
}

.person .actions a:hover {
    background: #d6b8b8;
    text-decoration: none;

}



.add_relative {

}

.add_relative .header {

}

.add_relative .title {
    width: 74%;
    display: inline-block;
}

.add_relative .actions {
    width: 25%;
    display: inline-block;
}

.add_relative .header .actions:after {

}

.add_relative .search {
    margin: 10px 0 0 0;
}
.add_relative .search:before {
    clear: both;
    display: table;
    content: " ";
}


.add_relative h2 {
    margin: 0;
}

.add_relative .search input {
    width: 100%;
    height: 35px;
    padding-left: 10px;
}

.add_relative .tile {

}

.add_relative .suggestions {
    margin: 10px 0 0 0;
}


.add_relative .tile .suggest_img {
    width: 20%;
    padding-right: 5px;
}

.add_relative .tile .suggest_img img {
    max-width: 90px;
}

.add_relative .tile .suggest_info {

}

.add_relative_tile {
    height: 100%;
    text-align: center;
    font-weight: bold;
    color: #000;
    font-size: 18px;
    opacity: 0.5;
    border: none;

}

.add_relative_tile:hover {
    opacity: 1;
    text-decoration: none;
    color: #000;

}

.add_relative_tile img {
    width: 70px;
    display: block;
    margin: 0 auto;
    padding: 15px 0 5px;
}

/* --------------------------- */

.loader {
    width: 500px;
    margin: 10px auto;
    height: 42px;
    background: url('/img/ajax-loader.gif');
    background-size: cover;
}