{% extends 'TreeBundle::base.html.twig' %}

{% block container -%}
    <div class="progress-bar" style="display: none; height: 20px;" id="photo-progress"></div>
    <div class="add-photo"><input type="file" multiple="true" id="photo"/></div>
    <div class="photo-files zoom-gallery">
		
		{% for bg in entities %}
			<div href="http://albardaiforness.ru/{{ bg  }}" class="photo-gal" data-source="http://albardaiforness.ru/{{ bg }}">
				<img src="http://albardaiforness.ru{{ bg  | apply_filter('profile')  }}" class="img-responsive img-gal">
				<div class="actions">
					{#<a href="#avatar" class="avatar"><img src="/uploads/control/favorite.png"></a>#}
					<a href="#delete" class="remove"><img src="/uploads/control/remove.png"></a>
				</div>
			</div>
		{% endfor %}
		
	</div>
    <script src="/js/jquery.colorbox.js" type="text/javascript"></script>
    <script>
    
        $(".photo-gal").colorbox({
            rel:'photo-gal',
            width: "80%"
        });
    
        $(document).on('click', '.remove', function(event){
            if (confirm("{{ 'Are you sure you want to delete this background from website?' | trans }}")) {
                event.stopPropagation();
                var item = $(this).parent().parent();
                var href = item.attr('href');
                
                var filename = '';
                var url = '';
                
                

                $.ajax({
                  url: "{{ path('background_remove') }}",
                  type: "POST",
                  data: {url: filename},
                  success: function(){
                      item.remove();
                  }
                });
            } else {
            
            }
        });
    
        function FileSelectHandler(e) {
            var files = e.target.files || e.dataTransfer.files;
            for (var i = 0, f; f = files[i]; i++) {
                if(f.type == "image/jpeg" || f.type == "image/png" || f.type == "image/gif") {
                    UploadPhoto(f);
                }
                else
                    UploadFile(f);
            }	
        }
        
        function addPhoto(filename){
            var tile = 
            '<div href="http://albardaiforness.ru/uploads/bg/'+filename+'.jpg" class="photo-gal" data-source="http://albardaiforness.ru/uploads/bg/'+filename+'.jpg">'+
            '<img src="http://albardaiforness.ru/uploads/bg/'+filename+'.jpg" class="img-responsive">'+
            '<div class="actions">'+
            //'<a href="#avatar" class="avatar"><img src="/uploads/control/favorite.png"></a>'+
            '<a href="#delete" class="remove"><img src="/uploads/control/remove.png"></a>'+
            '</div>'+
            '</div>';
            return tile;
        }
        function addDocument(filename){
            var tile = '<a href="/uploads/files/'+filename+'" class="document"><img src="/uploads/document.png">'+filename+'</a>';
            return tile;
        }
        
        function UploadPhoto(file) {
            var xhr = new XMLHttpRequest();
            
            xhr.addEventListener('progress', function(e) {
                var done = e.position || e.loaded, total = e.totalSize || e.total;
                $("#photo-progress").css('width',(Math.floor(done/total*1000)/10) + '%');
            }, false);
            
            if ( xhr.upload ) {
                xhr.upload.onprogress = function(e) {
                    var done = e.position || e.loaded, total = e.totalSize || e.total;
                    $("#photo-progress").css('width', (Math.floor(done/total*1000)/10) + '%');
                    $("#photo-progress").text((Math.floor(done/total*1000)/10) + '%');
                };
            }
            
            xhr.onreadystatechange = function(e) {
                if ( 4 == this.readyState ) {
                    $("#photo-progress").hide();
                    $(".photo-files").prepend(addPhoto(xhr.responseText));
                }
            };
            
            if (xhr.upload && (file.type == "image/jpeg" || file.type == "image/png" || file.type == "image/gif") && file.size <= 10*1000*1000) {
                $("#photo-progress").show();
                xhr.open("POST", "{{ path('background_upload') }}", true);
                xhr.setRequestHeader("X_FILENAME", encodeURIComponent(file.name));
                xhr.send(file);
            }
        }
        $(document).on("change", '#photo', FileSelectHandler);
    </script>
{% endblock %}
