{% extends 'TreeBundle::base.html.twig' %}

{% block container -%}
    <div class="col-md-12">
        <div class="contact center-block">
            <h1>{{ 'Leave message'|trans }}</h1>
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_widget( form.author) }}
                {{ form_widget( form.email) }}
                {{ form_widget( form.message ) }}
            </div>
            {{ form_widget( form.file ) }}
            <div class="form-group">
                {{ form_widget( form._token ) }}
                <input class="form-control grbutton" id="submit" type="submit" value="{{ 'Leave your message'|trans }}">
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <script>
        $(document).ready(function () {

            $("#sandello_familytreebundle_person_author").val(localStorage["author"]);
            $("#sandello_familytreebundle_person_email").val(localStorage["email"]);

            $("#submit").click(function () {
                localStorage["author"] = $("#sandello_familytreebundle_person_author").val();
                localStorage["email"] = $("#sandello_familytreebundle_person_email").val();
            });

            function FileSelectHandler(e) {
                var files = e.target.files || e.dataTransfer.files;
                for (var i = 0, f; f = files[i]; i++) {
                    if (f.type == "image/jpeg" || f.type == "image/png" || f.type == "image/gif" || f.type == "image/bmp") {
                        UploadPhoto(f);
                    }
                    else
                        UploadFile(f);
                }
            }

            $(document).on("change", '#file', FileSelectHandler);


        });
    </script>

{% endblock %}
