{% extends 'TreeBundle::base.html.twig' %}

{% form_theme form "@Tree/Form/bootstrap.html.twig" %}
{% form_theme short_form "@Tree/Form/bootstrap.html.twig" %}

{% block container -%}
    <div class="help-box">
        {{ 'You can search only over the firstname and the Lastname by default. If you want more accurate results use "Advanced search" button.' | trans }}
    </div>
    <div class="search-box collapsed center-block">
        {{ form(short_form,{ 'style':'inline', 'attr': {'id': 'short_form', 'class' : ''}}) }}
        {{ form_start(form,{ 'style':'inline', 'attr': {'id': 'search', 'class' : 'hide'}}) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
        <div class="search-actions">
            <button class="reset-form btn">{{ 'Clear form'|trans }}</button>
            <button class="advanced-search btn">{{ 'Advanced Search'|trans }}</button>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#q").focus();

            $(".reset-form").click(function () {
                $("form").trigger("reset");
            });

            $('.help a').on('click', function () {
                $(".content").toggle();
            });

            //$(".search-box").draggable({handle: ".drag-box", scroll: false});

            $('.advanced-search').on('click', function () {
                $(".search-box").toggleClass("collapsed");
                $("#short_form").toggleClass("hide");
                $("#search").toggleClass("hide");

                if ($("#short-form").hasClass("hide")) {
                    $(this).text("{{ 'Simple Search'|trans }}")
                } else {
                    $(this).text("{{ 'Advanced Search'|trans }}");
                }

                var top = ($(window).height() - $(".center-block").height()) / 2;
                $(".center-block").css("top", top);
            });
        });
    </script>
{% endblock %}
