{% extends 'TreeBundle::base.html.twig' %}

{% form_theme form "@Tree/Form/bootstrap.html.twig" %}
{% form_theme short_form "@Tree/Form/bootstrap.html.twig" %}

{% block title -%}
    {{ persons|length }} {{ ' persons found'|trans }}
{% endblock %}
{% block stylesheets -%}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
{% endblock %}

{% block container -%}
    <div class="col-md-6 no-padding col-md-offset-3">
        {% if persons|length > 0 %}
            <div class="search-result">

                <div class="search-title"><h1>{{ persons|length }} {{ ' persons found'|trans }}</h1></div>

                <div class="view-switcher">
                    <button id="view">{{ 'Table view'|trans }}</button>
                </div>

                <div class="table-container hide" style="overflow: hidden;">
                    <table id="search-results-table" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th id="id">{{ 'Id'|trans }}</th>
                            <th id="lastname">{{ 'Surname'|trans }}</th>
                            <th id="firstname">{{ 'Name'|trans }}</th>
                            <th id="nickname">{{ 'Nickname'|trans }}</th>
                            <th id="birth">{{ 'Birth date'|trans }}</th>
                            <th id="death">{{ 'Death date'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for person in persons %}
                            <tr id="{{ person.id }}">
                                <td class="read_only"><a href="{{ path('person_show',{'id':person.id}) }}">{{ person.id }}</a></td>
                                <td>{{ person.lastName }}</td>
                                <td>{{ person.firstName }}</td>
                                <td>{{ person.nickName }}</td>
                                <td>{{ person.birth }}</td>
                                <td>{{ person.death }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td rowspan=5>{{ 'No results'|trans }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="slide-container">
                    <div id="person-slider" class="owl-carousel owl-theme">
                        {% for person in persons %}
                            <div class="person-slide">
                                <a href="{{ path('person_show',{'id':person.id}) }}">
                                    <img style="height: 320px;" class="lazyOwl" alt="pic" data-src="{{ person.avatarUrl | imagine_filter('search') }}" src="{{ person.avatarUrl | imagine_filter('search') }}">
                                    <div class="name">{{ person.lastName }} {{ person.firstName }}</div>
                                    <div class="nickname">{{ person.nickname }}</div>
                                    <div class="birth"><span>{{ person.dates }}</span></div>
                                </a>
                            </div>
                        {% else %}
                            <div class="person-slide">{{ 'No results'|trans }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="search-container">
                    <div class="search-box collapsed">
                        {{ form(short_form,{ 'style':'inline', 'attr': {'id': 'short_form', 'class' : ''}}) }}
                        {{ form_start(form,{ 'style':'inline', 'attr': {'id': 'search', 'class' : 'hide'}}) }}
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                        <div class="search-actions">
                            <button class="reset-form btn">{{ 'Clear form'|trans }}</button>
                            <button class="advanced-search btn">{{ 'Advanced Search'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="help-box">
                {{ 'You can search only over the firstname and the Lastname by default. If you want more accurate results use "Advanced search" button.' | trans }}
            </div>
            <div class="search-box collapsed center-block not-found">
                <span class="drag-box"><img src="/uploads/drag.png" alt="{{ 'Move'|trans }}"></span>
                {{ form(short_form,{ 'style':'inline', 'attr': {'id': 'short_form', 'class' : ''}}) }}
                {{ form_start(form,{ 'style':'inline', 'attr': {'id': 'search', 'class' : 'hide'}}) }}
                {{ form_rest(form) }}
                {{ form_end(form) }}
                <div class="search-actions">
                    <button class="reset-form btn">{{ 'Clear form'|trans }}</button>
                    <button class="advanced-search btn">{{ 'Advanced Search'|trans }}</button>
                </div>
                <span class="not-found-message">{{ 'Nothing found. Try to use other keywords'|trans }}</span>
            </div>
        {% endif %}
    </div>

{% endblock %}
{% block javascripts -%}
    <script src="http://jquery-datatables-editable.googlecode.com/svn/trunk/media/js/jquery.min.js" type="text/javascript"></script>
    <script src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="/js/jeditable.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js" type="text/javascript"></script>
    <script src="http://jquery-datatables-editable.googlecode.com/svn/trunk/media/js/jquery.dataTables.editable.js" type="text/javascript"></script>
    <script src="/js/owl.carousel.js" type="text/javascript"></script>
    <script>
        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function (a) {
                var r, x;
                if (a === null || a === "") {
                    r = false;
                } else if (a.length == 4) {
                    r = +new Date(a, 0, 0);
                } else {
                    x = a.split("/");
                    r = +new Date(+x[2], +x[1] - 1, +x[0]);
                }
                console.log("[PRECALC] " + a + " becomes " + r);
                return r;
            },
            "date-uk-asc": function (a, b) {
                if (a === false && b === false) {
                    return 0;
                } else if (a === false) {
                    return 1;
                } else if (b === false) {
                    return -1;
                } else {
                    return a - b;
                }
            },
            "date-uk-desc": function (a, b) {
                if (a === false && b === false) {
                    return 0;
                } else if (a === false) {
                    return 1;
                } else if (b === false) {
                    return -1;
                } else {
                    return b - a;
                }
            }
        });

        {% if app.user == 'admin' %}
        $("#search-results-table").dataTable({
            "paging": false,
            columnDefs: [
                {type: 'date-uk', targets: 4},
                {type: 'date-uk', targets: 5}
            ]
        });
                /*.makeEditable({
            submit: 'OK',
            sUpdateURL: "/admin/person/edit/inline",
            sReadOnlyCellClass: "read_only"
        });*/
        {% else %}
        $("#search-results-table").dataTable({
            "paging": false,
            columnDefs: [
                {type: 'date-uk', targets: 4},
                {type: 'date-uk', targets: 5}
            ]
        });
        {% endif %}

        var owl = $("#person-slider");

        owl.owlCarousel({
            singleItem: true,
            navigation: false,
            rewindNav: false,
            scrollPerPage: true,
            pagination: false,
            lazyLoad: true,
            afterAction: function () {
                $('#person-numbers').text((this.owl.currentItem + 1) + ' of ' + this.owl.owlItems.length);
            },
            afterInit: function () {
                $(".owl-wrapper-outer").before('<div class="person-prev"><img src="/uploads/arrow-back.png"></div>');
                $(".owl-wrapper-outer").after('<div class="person-next"><img src="/uploads/arrow-forward.png"></div>');
                $(".owl-wrapper-outer").append('<div id="person-numbers"></div>');
                $('#person-numbers').text((this.owl.currentItem + 1) + ' of ' + this.owl.owlItems.length);
            }
        });
        owl.on('mousewheel', '.owl-wrapper-outer', function (e) {
            if (e.originalEvent.deltaY > 0) {
                owl.trigger('owl.next');
            } else {
                owl.trigger('owl.prev');
            }
            e.preventDefault();
        });

        $(document).ready(function () {

            $(".reset-form").click(function () {
                $("form").trigger("reset");
            });

            $('.help a').on('click', function () {
                $(".content").toggle();
            });

            $(".search-box").draggable({handle: ".drag-box", scroll: false});

            $('.advanced-search').on('click', function () {
                $(".search-box").toggleClass("collapsed");
                $("#short_form").toggleClass("hide");
                $("#search").toggleClass("hide");

                if ($("#short-form").hasClass("hide")) {
                    $(this).text("{{ 'Simple Search'|trans }}")
                } else {
                    $(this).text("{{ 'Advanced Search'|trans }}");
                }

                var top = ($(window).height() - $(".center-block").height()) / 2;
                $(".center-block").css("top", top);
            });

            $("#view").click(function () {
                var text = $(this).text();

                $(this).text(text == "{{ 'Table view'|trans }}" ? "{{ 'Slide view'|trans }}" : "{{ 'Table view'|trans }}");

                $(".search-result").toggleClass("table-view");
                $(".search-result").parent().toggleClass("col-md-12 col-md-6 col-md-offset-3");

                $(".search-result").parent().css('top', 0);

                $(".table-container").toggleClass("hide");
                $(".slide-container").toggleClass("hide");

            });
        });
    </script>

{% endblock %}
