{% extends 'TreeBundle::base.html.twig' %}
{% block stylesheets %}
    <link rel='stylesheet' href='/css/popup.css' type='text/css' media='all'/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}
{% block body -%}


    <div class="col-md-6 fixed">
        <div class="profile edit">
            <div class="profile-avatar" href="http://albardaiforness.ru{{ entity.avatar }}">
                <img alt="Avatar" src="{{ entity.avatar | apply_filter('profile') }}" class="img-responsive profile-photo">
            </div>
            <div class="profile-info">
                <ul>{{ form_start(form) }}
                    <input type="hidden" name="sandello_familytreebundle_person[region]" value="IT" id="region">
                    <li class="str_edit" data-bind="surname">{{ form_widget(form.lastName, {'attr': {'placeholder': 'Last Name'} }) }}</li>
                    <li class="str_edit" data-bind="name">{{ form_widget(form.firstName, {'attr': {'placeholder': 'First Name'} }) }}</li>
                    <li class="str_edit" data-bind="nickname">{{ form_widget(form.nickname, {'attr': {'placeholder': 'Nick Name'} }) }}</li>
                </ul>
            </div>
            <div class="action-buttons">
                <a href="{{ path('person_show',{'id': entity.id}) }}">
                    <button type="button" class="btn">{{ 'Show profile'|trans }}</button>
                </a>
                <a class="popup-files" href="#person-files">
                    <button type="button" class="btn">{{ 'Add files'|trans }}</button>
                </a>
                {{ form_widget(form._token) }}
                <a>{{ form_widget(form.submit, {'attr': {'class': 'green'}}) }}</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="profile">
            <table class="table profile-details">
                <tr>
                    <td class="tlabel">{{ 'Id'|trans }}:</td>
                    <td class="">{{ entity.id }}</td>
                </tr>
                <tr>
                    <td class="tlabel">{{ 'Sex'|trans }}:</td>
                    <td class="select_edit" data-bind="sex">{{ form_widget(form.sex) }}</td>
                </tr>
                <tr>
                    <td class="tlabel">{{ 'Birth'|trans }}:</td>
                    <td class="str_edit" data-bind="birth" id="birth">{{ form_widget(form.birth_alt) }}</td>
                </tr>
                <tr>
                    <td class="tlabel">{{ 'Birth place'|trans }}:</td>
                    <td class="str_edit" data-bind="birthPlace">{{ form_widget(form.birthPlace) }}</td>
                </tr>
                <tr>
                    <td class="tlabel">{{ 'Occupation'|trans }}:</td>
                    <td class="str_edit" data-bind="occupation">{{ form_widget(form.occupation) }}</td>
                </tr>
                <tr>
                    <td class="tlabel">{{ 'Death'|trans }}:</td>
                    <td class="str_edit" data-bind="death" id="birth">{{ form_widget(form.death_alt) }}</td>
                </tr>
                <tr>
                    <td class="tlabel">{{ 'Place of death'|trans }}:</td>
                    <td class="str_edit" data-bind="deathPlace">{{ form_widget(form.deathPlace) }}</td>
                </tr>
                <tr>
                    <td class="tlabel">{{ 'Note'|trans }}:</td>
                    <td class="area_edit" data-bind="note">{{ form_widget(form.note) }}</td>
                </tr>
                <tr>
                    <td class="tlabel">{{ 'Author'|trans }}:</td>
                    <td class="area_edit" data-bind="author">{{ form_widget(form.author) }}</td>
                </tr>
                <tr>
                    <td class="tlabel">{{ 'Comment'|trans }}:</td>
                    <td class="area_edit" data-bind="comment">{{ form_widget(form.comment) }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="region" title="{{ 'Choose regional manager'|trans }}">
        {{ form_widget(form.region) }}
        <p>{{ 'If profile belongs to person from North America, please choose appropriate manager'|trans }}</p>
    </div>

    <div class="col-md-6 relfixed">
        <div class="parents profile">
            <h2>{{ 'Parents'|trans }}</h2>
            <div class="customselect">
                {{ form_widget(form.parentsString) }}
                <div id="suggestions-parents" style="position: relative; float: left; width: 300px; margin: 10px;"></div>
                <input type="text" id="autocomplete-parents" style="float: left;" placeholder="Person ID"/>
            </div>
            {% for parent in entity.parents %}
                <div class="relative" id="{{ parent.id }}">
                    <div class="photo">
                        <a href="{{ path('person_show',{ 'id':parent.id }) }}">
                            <img src="{{ parent.avatar | apply_filter('relative') }}"/>
                        </a>
                    </div>
                    <div class="name">
                        <a href="{{ path('person_show',{ 'id':parent.id }) }}">
                            <span itemprop="familyName">{{ parent.lastName|title }}</span><br>
                        <span itemprop="givenName">
                            {% set firstName = parent.firstName|split(' ', 2) %}
                            <span class="prime">{{ attribute(firstName, 0)|title }}</span>
                            {% if firstName[1] is defined %}
                                <span class="secondary">{{ firstName[1] | title }}</span>
                            {% endif %}
                            </span>
                            <br>
                            <span itemprop="additionalName" class="secondary">{{ parent.nickname|title }}</span>
                        </a>
                        <div class="date">
                            {{ parent.dates }}
                        </div>
                    </div>

                    <button class="remove-revative">X</button>
                </div>
            {% endfor %}
            <div class="clearfix"></div>
        </div>

        <div class="couses profile">
            <h2>{{ 'Couses'|trans }}</h2>
            <div class="customselect">
                {{ form_widget(form.spousesString) }}
                <div id="suggestions-marriages" style="position: relative; float: left; width: 300px; margin: 10px;"></div>
                <input type="text" id="autocomplete-marriages" style="float: left;" placeholder="Person ID"//>
            </div>
            {% for marriage in entity.marriages %}
                {% set couse = marriage.person2 %}
                <div class="relative parent" id="{{ couse.id }}" data-child="{% for child in couse.children %}{% if loop.index> 1 %},{% endif %}{{ child.id }}{% endfor %}">
                    <div class="photo">
                        <a href="{{ path('person_show',{'id':couse.id}) }}">
                            <img src="{{ couse.avatar | apply_filter('relative') }}"/>
                        </a>
                    </div>
                    <div class="name">
                        <a href="{{ path('person_show',{'id':couse.id}) }}">
                            <span itemprop="familyName">{{ couse.lastName|title }}</span><br>
                            <span itemprop="givenName">
                                {% set firstName = couse.firstName|split(' ', 2) %}
                                <span class="prime">{{ attribute(firstName, 0)|title }}</span>
                                {% if firstName[1] is defined %}
                                    <span class="secondary">{{ firstName[1] | title }}</span>
                                {% endif %}
                            </span>
                            <br>
                            <span itemprop="additionalName" class="secondary">{{ couse.nickname|title }}</span>
                        </a>
                        <div class="date">
                            <span>{{ couse.dates }}</span>
                        </div>
                    </div>
                    <button class="remove-revative">X</button>
                </div>
            {% endfor %}
            <div class="clearfix"></div>
        </div>

        <div class="children profile">
            <h2>{{ 'Children'|trans }}</h2>
            <div class="customselect">
                {{ form_widget(form.childrenString) }}
                <div id="suggestions-children" style="position: relative; float: left; width: 300px; margin: 10px;"></div>
                <input type="text" id="autocomplete-children" style="float: left;" placeholder="Person ID"//>
            </div>
            {% for child in entity.children %}
                <div class="relative child" id="{{ child.id }}">
                    <div class="photo">
                        <a href="{{ path('person_show',{'id':child.id}) }}">
                            <img src="{{ child.avatar | apply_filter('relative') }}"/>
                        </a>
                    </div>
                    <div class="name">
                        <a href="{{ path('person_show',{'id':child.id}) }}" data-parent="{% for parent in child.parents %}{% if parent.id != entity.id %}{{ parent.id }}{% endif %}{% endfor %}">
                            <span itemprop="familyName">{{ child.lastName|title }}</span><br>
                            <span itemprop="givenName">
                                {% set firstName = child.firstName|split(' ', 2) %}
                                <span class="prime">{{ attribute(firstName, 0)|title }}</span>
                                {% if firstName[1] is defined %}
                                    <span class="secondary">{{ firstName[1] | title }}</span>
                                {% endif %}
                            </span>
                            <br>
                            <span itemprop="additionalName" class="secondary">{{ child.nickname|title }}</span>
                        </a>
                        <div class="date">
                            {{ child.dates }}
                        </div>
                    </div>
                    <button class="remove-revative">X</button>
                </div>
            {% endfor %}
            <div class="clearfix"></div>
        </div>

        <div class="bro profile">
            <h2>{{ 'Brothers and sisters'|trans }}</h2>
            <div class="customselect">
                {{ form_widget(form.brotherhoodString) }}
                <div id="suggestions-brotherhood" style="position: relative; float: left; width: 300px; margin: 10px;"></div>
                <input type="text" id="autocomplete-brotherhood" style="float: left;" placeholder="Person ID"//>
            </div>
            {% for bro in entity.brotherhood %}
                <div class="relative" id="{{ bro.id }}">
                    <div class="photo">
                        <a href="{{ path('person_show',{'id':bro.id}) }}">
                            <img src="{{ bro.avatar | apply_filter('relative') }}"/>
                        </a>
                    </div>
                    <div class="name">
                        <a href="{{ path('person_show',{'id':bro.id}) }}">
                            <span itemprop="familyName">{{ bro.lastName|title }}</span><br>
                            <span itemprop="givenName">
                                {% set firstName = bro.firstName|split(' ', 2) %}
                                <span class="prime">{{ attribute(firstName, 0)|title }}</span>
                                {% if firstName[1] is defined %}
                                    <span class="secondary">{{ firstName[1] | title }}</span>
                                {% endif %}
                            </span>
                            <br>
                            <span itemprop="additionalName" class="secondary">{{ bro.nickname|title }}</span>
                        </a>
                        <div class="date">
                            {{ bro.dates }}
                        </div>
                    </div>
                    <button class="remove-revative">X</button>
                </div>
            {% endfor %}
            <div class="clearfix"></div>
        </div>
    </div>



    <div id="person-files" class="mfp-hide">
        <span class="title">{{ 'Gallery'|trans }}</span>
        <div class="photo-files zoom-gallery">
            {% for photo in entity.photos %}
                <div href="http://albardaiforness.ru{{ photo }}" class="photo-gal" data-source="http://albardaiforness.ru{{ photo }}">
                    <img src="http://albardaiforness.ru{{ photo | apply_filter('relative') }}" class="img-responsive img-gal">
                    <div class="actions">
                        <a href="#avatar" class="avatar"><img src="/uploads/control/favorite.png"></a>
                        <a href="#delete" class="remove"><img src="/uploads/control/remove.png"></a>
                    </div>
                </div>
            {% endfor %}
            <div class="add-photo"><input type="file" multiple="true" id="photo"/></div>
            <div class="clearfix"></div>
            <div class="progress-bar" style="display: none; height: 20px;" id="photo-progress"></div>
            <hr>
        </div>
        <span class="title">{{ 'Video files'|trans }}</span>
        <div class="document-files zoom-gallery">
            {% for file in entity.video %}
                <a href="{{ file }}" class="video-gal"><img src="/uploads/video.png">{{ file.filename }}</a>
            {% endfor %}
            <div class="add-document"><input type="file" multiple="true" id="video"/></div>
            <div class="clearfix"></div>
            <div class="progress-bar" style="display: none; height: 20px;" id="document-progress"></div>
            <hr>
        </div>
    </div>
    {{ form_end(form) }}



{% endblock %}
{% block javascripts -%}
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/jquery.autocomplete.js" defer></script>
    <script src="/js/jquery.colorbox.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#sandello_familytreebundle_person_region").change(function () {
                $("#region").val($(this).val());
            });

            $(".region").dialog({
                modal: true,
                width: 400,
                buttons: {
                    Ok: function () {
                        $(this).dialog("close");
                    }
                }
            });

            $(document).on('click', ".remove-revative", function () {
                var id = $(this).parent().attr('id');
                var relative = $(this).parent();
                var relative_div = relative.parent();
                var relatives = relative_div.find("input:hidden").val().split(",");
                relatives.splice(relatives.indexOf(id), 1);
                relative_div.find("input:hidden").val(relatives.join(','));
                relative.detach();
                event.preventDefault();
            });

            $(".profile-avatar").colorbox(
                    {
                        rel: 'profile-photo',
                        width: "75%",
                        height: "75%",
                        title: function () {
                            var image_name = $(this).attr("href").split("/").slice(-1)[0];

                            if ((image_name == "male.png") || (image_name == "female.png")) {
                                var buttons = "<div class=\"inputWrapper btn btn-default\"><input class=\"add-avatar fileInput\" type=\"file\" name=\"add\"/ >{{ 'Add' | trans }}</div>";
                            } else {
                                var buttons = "<div class=\"inputWrapper btn btn-default\"><input class=\"replace-avatar fileInput\" type=\"file\" name=\"add\"/>{{ 'Replace' | trans }}</div><button class=\"inputWrapper btn btn-default delete-avatar\" role=\"delete\">{{ 'Delete' | trans }}</button>";
                            }
                            var progress_bar = "<div class=\"progress-bar\" style=\"display: none; height: 20px;\" id=\"avatar-progress\"></div>";

                            return buttons + progress_bar;
                        }
                    });

            $(document).on("change", '.add-avatar', FileSelectHandler);
            $(document).on("change", '.replace-avatar', FileSelectHandler);
            $(document).on("click", '.delete-avatar', function () {
                $.ajax({
                    type: "POST",
                    url: "{{ path('person_suggest_avatar_remove',{'id': entity.id}) }}",
                    success: function (response) {
                        var placeholder = "male.png";
                        if (response == "0") placeholder = "fe" + placeholder;
                        $(".profile-photo").attr("src", "/uploads/" + placeholder);
                        $(".profile-avatar").attr("href", "/uploads/" + placeholder);
                        $(".profile-avatar").colorbox.close();
                    }
                });
            });


            function suggestAvatar() {
                $.ajax({
                    url: "{{ path('person_suggest_avatar_remove',{'id': entity.id}) }}"
                });
            }


            $("#sandello_familytreebundle_person_author").val(localStorage["author"]);

            $("#sandello_familytreebundle_person_submit").click(function () {
                localStorage["author"] = $("#sandello_familytreebundle_person_author").val();
            });

            function addPerson(person) {
                var relative_div = '<div class="relative" id="' + person.id + '"><div class="photo"><a href="/person/' + person.id + '"><img src="' + person.photo + '"></a>' +
                        '</div><div class="name"><a href="/person/' + person.id + '">' + person.lastName + '<br>' + person.firstName + '<br>' + person.nickName + '</a></div><div class="date">' + person.dates + '</div><button class="remove-revative">X</button></div>';
                return relative_div;
            }

            $('#autocomplete-parents').devbridgeAutocomplete({
                serviceUrl: "{{ path('search_person_by_id') }}",
                minChars: 3,
                width: 260,
                type: 'POST',
                appendTo: '#suggestions-parents',
                onSelect: function (suggestion) {
                    $(".parents .clearfix").before(addPerson(suggestion));
                    $("#sandello_familytreebundle_person_parentsString").val(function (i, val) {
                        return val + (val ? ',' : '') + suggestion.id;
                    });
                    $('#autocomplete-parents').val('');
                }
            });

            $('#autocomplete-marriages').devbridgeAutocomplete({
                serviceUrl: "{{ path('search_person_by_id') }}",
                minChars: 3,
                width: '260px',
                type: 'POST',
                appendTo: '#suggestions-marriages',
                onSelect: function (suggestion) {
                    $(".couses .clearfix").before(addPerson(suggestion));
                    $("#sandello_familytreebundle_person_spousesString").val(function (i, val) {
                        return val + (val ? ',' : '') + suggestion.id;
                    });
                    $('#autocomplete-marriages').val('');
                }

            });

            $('#autocomplete-children').devbridgeAutocomplete({
                serviceUrl: "{{ path('search_person_by_id') }}",
                minChars: 3,
                width: '260px',
                type: 'POST',
                appendTo: '#suggestions-children',
                onSelect: function (suggestion) {
                    $(".children .clearfix").before(addPerson(suggestion));
                    $("#sandello_familytreebundle_person_childrenString").val(function (i, val) {
                        return val + (val ? ',' : '') + suggestion.id;
                    });
                    $('#autocomplete-children').val('');
                }
            });
            $('#autocomplete-brotherhood').devbridgeAutocomplete({
                serviceUrl: "{{ path('search_person_by_id') }}",
                minChars: 3,
                width: '260px',
                type: 'POST',
                appendTo: '#suggestions-brotherhood',
                onSelect: function (suggestion) {
                    $(".bro .clearfix").before(addPerson(suggestion));
                    $("#sandello_familytreebundle_person_brotherhoodString").val(function (i, val) {
                        return val + (val ? ',' : '') + suggestion.id;
                    });
                    $('#autocomplete-brotherhood').val('');
                }
            });

            $('.popup-files').magnificPopup({
                type: 'inline',
                preloader: false,
                focus: '#name',
                callbacks: {
                    beforeOpen: function () {
                        if ($(window).width() < 700) {
                            this.st.focus = false;
                        } else {
                            this.st.focus = '#name';
                        }
                    }
                }
            });

            function FileSelectHandler(e) {
                var files = e.target.files || e.dataTransfer.files;
                for (var i = 0, f; f = files[i]; i++) {
                    if (f.type == "image/jpeg" || f.type == "image/png" || f.type == "image/gif") {
                        UploadPhoto(f, e.target.name);
                    }
                    else
                        UploadFile(f);
                }
            }

            function addPhoto(filename) {
                var tile =
                        '<div href="http://albardaiforness.ru/uploads/photos/' + filename + '" class="photo-gal" data-source="http://albardaiforness.ru/uploads/suggests/' + filename + '">' +
                        '<img src="http://albardaiforness.ru/uploads/suggests/' + filename + '" class="img-responsive">' +
                        '<div class="actions">' +
                        '<a href="#avatar" class="avatar"><img src="/uploads/control/favorite.png"></a>' +
                        '<a href="#delete" class="remove"><img src="/uploads/control/remove.png"></a>' +
                        '</div>' +
                        '</div>';
                return tile;
            }

            function UploadPhoto(file, type) {
                var xhr = new XMLHttpRequest();

                xhr.addEventListener('progress', function (e) {
                    var done = e.position || e.loaded, total = e.totalSize || e.total;
                    $("#photo-progress").css('width', (Math.floor(done / total * 1000) / 10) + '%');
                }, false);

                if (xhr.upload) {
                    xhr.upload.onprogress = function (e) {
                        var done = e.position || e.loaded, total = e.totalSize || e.total;
                        $(".progress-bar").css('width', (Math.floor(done / total * 1000) / 10) + '%');
                        $(".progress-bar").text((Math.floor(done / total * 1000) / 10) + '%');
                    };
                }

                xhr.onreadystatechange = function (e) {

                    if (4 == this.readyState) {
                        if (type == "add") {
                            var url = e.currentTarget.responseText;
                            $(".profile-photo").attr("src", "/uploads/suggests/" + url);
                            $(".profile-avatar").attr("href", "/uploads/suggests/" + url);
                            $(".profile-avatar").colorbox.close();

                        } else {
                            $(".add-photo").before(addPhoto(xhr.responseText));
                        }
                        $(".progress-bar").hide();
                        $(".progress-bar").css("width", 0);
                    }
                };

                if (xhr.upload && (file.type == "image/jpeg" || file.type == "image/png" || file.type == "image/gif") && file.size <= 3 * 1000 * 1000) {

                    var url;
                    if (type == "add") {
                        $("#avatar-progress").show();
                        url = "{{ path('person_suggest_avatar_add',{'id': entity.id}) }}";
                    } else {
                        $("#photo-progress").show();
                        url = "{{ path('person_suggest_photo',{'id': entity.id}) }}";
                    }
                    xhr.open("POST", url, true);

                    xhr.setRequestHeader("X_FILENAME", encodeURIComponent(file.name));
                    xhr.send(file);
                }
            }

            function UploadFile(file) {
                var xhr = new XMLHttpRequest();
                if (xhr.upload && file.size <= 10 * 1000 * 1000) {
                    path = "{#{{ path('person_suggest_file',{'id': entity.id, 'name': 'filename'}) }}#}";
                    xhr.open("POST", path.replace('filename', file.name), true);
                    xhr.setRequestHeader("X_FILENAME", file.name);
                    xhr.send(file);
                }
            }

            $(document).on("change", '#photo', FileSelectHandler);
            $(document).on("change", '#file', FileSelectHandler);
        });
    </script>
{% endblock %}