{% extends 'TreeBundle::base.html.twig' %}

{% block container -%}
	<div class="message-box">
		<h1>{{'Thanks for your suggestion'|trans}}</h1>
		<div class="message">
			<p>{{'Your request will be processed as soon as possible'|trans}}</p>
			<p><a href="{{ path('person_show' , { 'id' : id } ) }}">{{'Return to profile'|trans}}</a></p>
		</div>
	</div>
	<script>
		$(document).ready(function(){
			function centerBlock(block){
				block.css("top", ($(window).height()-block.height())/2)
			}
			centerBlock($('.message-box'));
		});
	</script>
{% endblock %}
