{% extends 'TreeBundle::base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block container %}
<div class="profile register">
    <div>
        <form action="/login_check" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="_username" value="" class="form-control" required="required">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="_password" class="form-control" required="required">
            </div>

            <div class="form-group">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                <label for="remember_me">Ricordami</label>
            </div>

            <div class="form-group">
                <input type="submit" id="_submit" name="_submit" value="Login" class="btn btn-block btn-default">
            </div>
        </form>
    </div>
</div>
{% endblock %}