{% extends 'TreeBundle::base.html.twig' %}

{% block container -%}
    <div class="row" style="margin: 0;">
        {% for person in persons %}
            <div class="col-md-6">
                <div class="profile">
                    <div class="profile-avatar">
                        <img src="{{ person.avatarUrl | apply_filter('search') }}" class="img-responsive profile-photo ">
                    </div>
                    <div class="profile-info">
                        <ul>
                            <li data-bind="surname">{{ person.lastName|title }}</li>
                            <li data-bind="name">
                                {% set firstName = person.firstName|split(' ', 2) %}
                                <span class="prime">{{ firstName[0] | title }}</span>
                                {% if firstName[1] is defined %}
                                    <span class="secondary">{{ firstName[1] | title }}</span>
                                {% endif %}
                            </li>
                            <li data-bind="nickname"><span class="secondary">{{ person.nickname|title }}</span></li>
                        </ul>
                    </div>
                    <div class="action-buttons">
                        <a href="{{ path('person_show_tree',{'id': person.id}) }}" class="">
                            <button type="button" class="tree">{{ 'Tree'|trans }}</button>
                        </a>
                        <a href="{{ path('person_show', { 'id': person.id }) }}">
                            <button type="button" class="edit edit_tooltip" data-original-title="Another tooltip">{{ 'Show profile'|trans }}</button>
                        </a>
                        <a href="{{ path('person_edit', { 'id': person.id }) }}">
                            <button type="button" class="edit edit_tooltip" data-original-title="Another tooltip">{{ 'Edit person'|trans }}</button>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row" style="margin: 0;">
        {% for person in persons %}
            <div class="col-md-6">
                <div class="profile" style="margin-top: 35px;">
                    <table class="table profile-details">
                        <tr>
                            <td class="tlabel">{{ 'Id'|trans }}:</td>
                            <td class="">{{ person.id }}</td>
                        </tr>
                        <tr>
                            <td class="tlabel">{{ 'Gender'|trans }}:</td>
                            <td class="select_edit">{% if person.sex %}{{ 'Male'|trans }}{% else %}{{ 'Female'|trans }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td class="tlabel">{{ 'Birth'|trans }}:</td>
                            <td class="str_edit">{{ person.birth }}</td>
                        </tr>
                        <tr>
                            <td class="tlabel">{{ 'Birth place'|trans }}:</td>
                            <td class="str_edit">{{ person.birthPlace|title }}</td>
                        </tr>
                        <tr>
                            <td class="tlabel">{{ 'Occupation'|trans }}:</td>
                            <td class="str_edit">{{ person.occupation|title }}</td>
                        </tr>
                        <tr>
                            <td class="tlabel">{{ 'Death'|trans }}:</td>
                            <td class="str_edit">{{ person.death }}</td>
                        </tr>
                        <tr>
                            <td class="tlabel">{{ 'Place of death'|trans }}:</td>
                            <td class="str_edit">{{ person.deathPlace }}</td>
                        </tr>
                        <tr>
                            <td class="tlabel">{{ 'Year of birth'|trans }}:</td>
                            <td class="str_edit">{{ person.birthYear }}</td>
                        </tr>
                        <tr>
                            <td class="tlabel">{{ 'Year of death'|trans }}:</td>
                            <td class="str_edit">{{ person.deathYear }}</td>
                        </tr>
                        <tr>
                            <td class="tlabel">{{ 'Age'|trans }}:</td>
                            <td class="">{{ person.age }}</td>
                        </tr>
                        <tr>
                            <td class="tlabel">{{ 'NOTE'|trans }}:</td>
                            <td class="area_edit">{{ person.note|title }}</td>
                        </tr>
                        <tr>
                            <td class="tlabel">{{ 'Private note'|trans }}:</td>
                            <td class="area_edit">{{ person.privateNote|raw }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row" style="margin: 0;">
        {% for person in persons %}
            <div class="col-md-6">
                <div class="relatives block">
                    <h2>{{ 'Parents'|trans }}</h2>
                    <div class="relative_list">
                        {% for parent in person.parents %}
                            <div class="relative">
                                <div class="photo">
                                    <a href="{{ path('person_show',{ 'id':parent.id }) }}">
                                        <img src="{{ parent.avatarUrl | apply_filter('relative') }}"/>
                                    </a>
                                </div>
                                <div class="name">
                                    <a href="{{ path('person_show',{ 'id':parent.id }) }}">
                                        <span>{{ parent.lastName|title }}</span><br>
                                    <span>
                                        {% set firstName = parent.firstName|split(' ', 2) %}
                                        <span class="prime">{{ attribute(firstName, 0)|title }}</span>
                                        {% if firstName[1] is defined %}
                                            <span class="secondary">{{ firstName[1] | title }}</span>
                                        {% endif %}
                                    </span>
                                        <br>
                                        <span class="secondary">{{ parent.nickname|title }}</span>
                                    </a>
                                    <div class="date">{{ parent.dates }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row" style="margin: 0;">
        {% for person in persons %}
            <div class="col-md-6">
                <div class="relatives block">
                    <h2>{{ 'Spouses'|trans }}</h2>
                    <div class="relative_list">
                        {% for marriage in person.marriages %}
                            {% set spouse = marriage.spouse %}
                            <div class="relative parent">
                                <div class="photo">
                                    <a href="{{ path('person_show',{'id':spouse.id}) }}">
                                        <img src="{{ spouse.avatarUrl | apply_filter('relative') }}"/>
                                    </a>
                                </div>
                                <div class="name">
                                    <a href="{{ path('person_show',{'id':spouse.id}) }}">
                                        <span>{{ spouse.lastName|title }}</span><br>
                                    <span>
                                        {% set firstName = spouse.firstName|split(' ', 2) %}
                                        <span class="prime">{{ attribute(firstName, 0) | title }}</span>
                                        {% if firstName[1] is defined %}
                                            <span class="secondary">{{ firstName[1] | title }}</span>
                                        {% endif %}
                                    </span>
                                        <br>
                                        <span class="secondary">{{ spouse.nickname|title }}</span>
                                    </a>

                                    <div class="date">
                                        <span>{{ spouse.dates }}</span>
                                    </div>
                                </div>
                                {% if marriage.marriageDate|length > 0 %}
                                    <div class="mdate">
                                        <span class="secondary">{{ 'Married'|trans }}:</span> {{ marriage.marriageDate }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row" style="margin: 0;">
        {% for person in persons %}
            <div class="col-md-6">
                <div class="relatives block">
                    <h2>{{ 'Children'|trans }}</h2>
                    <div class="relative_list">
                        {% for child in person.children %}
                            <div class="relative child" id="{{ child.id }}">
                                <div class="photo">
                                    <a href="{{ path('person_show',{'id':child.id}) }}">
                                        <img src="{{ child.avatarUrl | apply_filter('relative') }}"/>
                                    </a>
                                </div>
                                <div class="name">
                                    <a href="{{ path('person_show',{'id':child.id}) }}">
                                        <span>{{ child.lastName|title }}</span><br>
                                    <span>
                                        {% set firstName = child.firstName|split(' ', 2) %}
                                        <span class="prime">{{ attribute(firstName, 0)|title }}</span>
                                        {% if firstName[1] is defined %}
                                            <span class="secondary">{{ firstName[1] | title }}</span>
                                        {% endif %}
                                    </span>
                                        <br>
                                        <span class="secondary">{{ child.nickname|title }}</span>
                                    </a>

                                    <div class="date">{{ child.dates }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row" style="margin: 0;">
        {% for person in persons %}
            <div class="col-md-6">
                <div class="relatives block">
                    <h2>{{ 'Brothers and sisters'|trans }}</h2>
                    <div class="relative_list">
                        {% for bro in person.brotherhood %}
                            <div class="relative" id="{{ bro.id }}">
                                <div class="photo">
                                    <a href="{{ path('person_show',{'id':bro.id}) }}">
                                        <img src="{{ bro.avatarUrl | apply_filter('relative') }}"/>
                                    </a>
                                </div>
                                <div class="name">
                                    <a href="{{ path('person_show',{'id':bro.id}) }}">
                                        <span>{{ bro.lastName|title }}</span><br>
                                    <span>
                                        {% set firstName = bro.firstName|split(' ', 2) %}
                                        <span class="prime">{{ attribute(firstName, 0)|title }}</span>
                                        {% if firstName[1] is defined %}
                                            <span class="secondary">{{ firstName[1] | title }}</span>
                                        {% endif %}
                                    </span>
                                        <span class="secondary">{{ bro.nickname|title }}</span>
                                    </a>
                                    <div class="date">{{ bro.dates }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}