{% extends 'TreeBundle::base.html.twig' %}

{% block container -%}
    {#
    <div class="pages" style="margin: 10px 16.66666666666% 0 0;">
        {% if app.request.get('page') != null %}
            {% set page = app.request.get('page') %}
        {% else %}
            {% set page = 0 %}
        {% endif %}
        {% if page > 0 %}
            <a href="{{ path("admin_duplicates_search", {'page' : page - 1 }) }}" class="btn btn-primary">&larr; {{ "Previous" | trans }}</a>
        {% endif %}
        <a href="{{ path("admin_duplicates_search", {'page' : page + 1 }) }}" class="btn btn-primary">{{ "Next" | trans }} &rarr;</a>
    </div>
    #}
    <div id="dupes_list">
        {%- block content -%}
            {%- spaceless -%}
                {%- for dupe in dupes %}
                    <div class="row" style="margin: 0;">
                        {% set person = dupe.person1 %}
                            <div class="col-md-5">
                                <div class="profile">
                                    <div class="profile-avatar">
                                        <a href="{{ path("person_show", {'id' : person.id}) }}">
                                            <img src="{{ person.avatarUrl | apply_filter('search') }}" class="img-responsive profile-photo ">
                                        </a>
                                    </div>
                                    <div class="profile-info">
                                        <a href="{{ path("person_show", {'id' : person.id}) }}">
                                            <ul>
                                                <li class="lastName">{{ person.lastName | title }}</li>
                                                <li class="firstName">{{ person.firstName | title }}</li>
                                                <li class="nickName">{{ person.nickname | title }}</li>
                                                <li>ID: {{ person.id }}</li>
                                            </ul>
                                        </a>
                                    </div>
                                    <div class="action-buttons">

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        {% set person = dupe.person2 %}
                        <div class="col-md-5">
                            <div class="profile">
                                <div class="profile-avatar">
                                    <a href="{{ path("person_show", {'id' : person.id}) }}">
                                        <img src="{{ person.avatarUrl | apply_filter('search') }}" class="img-responsive profile-photo ">
                                    </a>
                                </div>
                                <div class="profile-info">
                                    <a href="{{ path("person_show", {'id' : person.id}) }}">
                                        <ul>
                                            <li class="lastName">{{ person.lastName | title }}</li>
                                            <li class="firstName">{{ person.firstName | title }}</li>
                                            <li class="nickName">{{ person.nickname | title }}</li>
                                            <li>ID: {{ person.id }}</li>
                                        </ul>
                                    </a>
                                </div>
                                <div class="action-buttons">

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <a href="{{ path('compare_person', {'person1' : dupe.person1.id, 'person2' : dupe.person2.id} ) }}" style="margin-top: 30px;" class="btn btn-primary  btn-block">{{ 'Compare' | trans }}</a>
                            <a href="{{ path('not_a_dupe_person', {'person1' : dupe.person1.id, 'person2' : dupe.person2.id} ) }}" style="margin-top: 30px;" class="btn btn-danger  btn-block">{{ 'Not a duplicate' | trans }}</a>
                        </div>
                    </div>
                {%- endfor -%}
            {%- endspaceless -%}
        {%- endblock -%}
    </div>

    {#
    <div class="pages" style="margin: 10px 16.66666666666% 0 0;">
        {% if app.request.get('page') != null %}
            {% set page = app.request.get('page') %}
        {% else %}
            {% set page = 0 %}
        {% endif %}
        {% if page > 0 %}
            <a href="{{ path("admin_duplicates_search", {'page' : page - 1 }) }}" class="btn btn-primary">&larr; {{ "Previous" | trans }}</a>
        {% endif %}
        <a href="{{ path("admin_duplicates_search", {'page' : page + 1 }) }}" class="btn btn-primary">{{ "Next" | trans }} &rarr;</a>
    </div>
    #}

    {#<script src="{{ asset('js/asgu.scroller.js') }}" type="text/javascript"></script>
    <script>
        $("#dupes_list").scroller({
                    url: '{{ path('admin_duplicates_search') }}'
                },
                function () {
                    console.log("callback")
                }
        );
    </script>#}

    <script>
        $(".firstName").each(function () {
            var $current = $(this);
            var name = $current.text();

            var names = name.split(" ");
            if (names.length > 1) {
                $current.text(names[0]);
                var secNames = names.splice(1);
                var $secondary = $("<span />").text(secNames.join(" ")).css({
                    'font-size': '16px',
                    'padding-left': '5px',
                });
                $current.append($secondary);
            }
        });
    </script>
{% endblock %}