{% extends 'TreeBundle::base.html.twig' %}

{% block container -%}
    <div class="col-md-6">
        <div class="profile">
            <h2>{{ 'Profile'|trans }}</h2>
            logged as {{ app.user }}
            <div class="clearfix"></div>
            <a href="{{ path('fos_user_change_password') }}" class="btn btn-success password">{{ 'Change password'|trans }}</a>
        </div>

        <div class="profile">
            <h2>{{ 'Managers'|trans }}</h2>
            <table class="table table-striped table-hover managers">
                <thead>
                <tr>
                    <th>username</th>
                    <th>email</th>
                    <th>region</th>
                    <th>action</th>
                </tr>
                </thead>

                {% for user in managers %}
                    <tr id="{{ user.id }}" data-name="{{ user.username }}">
                        <td><a href="{{ path('user', {'id' : user.id }) }}">{{ user.username }}</a></td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if app.user == "admin" %}
                                <select data-region="{{ user.region }}" class="region">
                                    <option value="all">{{ 'All regions'|trans }}</option>
                                    <option value="NA">{{ 'North America'|trans }}</option>
                                    <option value="SA">{{ 'South America'|trans }}</option>
                                    <option value="IT">{{ 'Italy'|trans }}</option>
                                    <option value="CE">{{ 'Central Europe'|trans }}</option>
                                    <option value="AU">{{ 'Australia'|trans }}</option>
                                </select>
                            {% else %}
                                {{ user.region }}
                            {% endif %}
                        </td>
                        <td>
                            {% if (user != app.user) and ( app.user == "admin" ) %}
                                {% if user.locked %}
                                    <button class="btn btn-success unlock" data-user="{{ user.id }}">{{ 'Enable'|trans }}</button>
                                {% else %}
                                    <button class="decline lock" data-user="{{ user.id }}"></button>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% if app.user == "admin" %}
                <form action="{{ path('new_invitation') }}" method="POST" style="text-align: center;">
                    <input type="email" name="email" required class="email" placeholder="{{ 'Enter email to send invite'|trans }}">
                    <button class="btn btn-primary">{{ 'New invitation'|trans }}</button>
                </form>
            {% endif %}
        </div>
    </div>
    <div class="col-md-6">
        <div class="profile">
            <h2>{{ 'Activity log'|trans }}</h2>
            <table class="table table-striped table-hover managers">
                {% for action in activity %}
                    <tr>
                        <td alt="{{ action.date|date("d/m/y h:m") }}">{{ action.date|date("d/m/y") }}</td>
                        <td>{{ action.user }}</td>
                        {# <td>{{ action.action }} <b><a href="{{ path('person_show',{'id' : action.person.id } ) }}">{{ action.person }}</a></b> {{ 'profile'|trans }} {{ 'field'|trans }} <b>{{ action.field }}</b> from <b>{{ action.valueold }}</b> to <b>{{ action.valuenew }}</b>  </td>#}
                        <td class="log">{{ action.log | raw }}</td>
                    </tr>
                {% endfor %}
            </table>
            <div class="pages">
                {% if app.request.get('page') != null %}
                    {% set page = app.request.get('page') %}
                {% else %}
                    {% set page = 0 %}
                {% endif %}
                {% if page > 0 %}
                    <a href="{{ path("managers", {'page' : page - 1 }) }}">&larr; {{ "Previous" | trans }}</a> |
                {% endif %}
                <a href="{{ path("managers", {'page' : page + 1 }) }}">{{ "Next" | trans }} &rarr;</a>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
    <script src="/js/jquery.colorbox.js" type="text/javascript"></script>
    <script type="text/javascript">
        var xhr = new XMLHttpRequest();
        path = "{{ path('lock_user') }}";
        xhr.onreadystatechange = function () {
            if (xhr.status == 200) {
                location.href = location.href;
            }
        }
        $('.lock').click(function (event) {
            var user = $(this).parent().parent().data("name");
            if (confirm("{{ 'Are you sure you want to delete this user from database?'|trans }} [" + user + "]")) {
                xhr.open("POST", path, true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
                params = 'id=' + $(this).data('user') + '&locked=1';
                xhr.send(params);
            } else {
                event.preventDefault();
            }
        })
        $('.unlock').click(function () {
            xhr.open("POST", path, true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
            params = 'id=' + $(this).data('user') + '&locked=0';
            xhr.send(params);
        });

        $(".cbox").click(function () {
            $(this).colorbox(
                    {
                        href: $(this).attr('src'),
                        width: "75%",
                        height: "75%",
                        photo: "true",
                        title: function () {
                            var download = "<a href=\"" + $(this).attr('src') + "\" download class=\"btn btn-default\">{{ 'Download' | trans }}</a>";
                            return download;
                        }
                    });
        });

        {% if app.user == "admin" %}
        $(".region").change(function () {
            var new_region = $(this).val();
            $.ajax({
                url: "{{ path('manager_set_region') }}",
                type: "POST",
                data: {region: new_region, user: $(this).parent().parent().attr("id")},
                success: function () {
                    alert('Region set');
                }
            });
        });

        $(document).ready(function () {
            $(".region").each(function () {
                var region = $(this).data("region");
                $(this).val(region);
            });
        });
        {% endif %}
    </script>


{% endblock %}
