{% extends 'TreeBundle::base.html.twig' %}

{% block container -%}
	<div class="title"><h1>{{ 'Message list'|trans }}</h1></div>
	<table class="records_list table table-striped table-hover">
		<thead>
			<tr>
				<th style="width: 30px;">{{ 'Id'|trans }}</th>
				<th style="width: 80px;">{{ 'Date'|trans }}</th>
				<th style="width: 180px;">{{ 'Author'|trans }}</th>
				<th style="width: 180px;">{{ 'Email'|trans }}</th>
				<th>{{ 'Message'|trans }}</th>
				<th style="width: 60px;">{{ 'Actions'|trans }}</th>
			</tr>
		</thead>
		<tbody>
		{% for entity in entities %}
			<tr>
				<td>{{ entity.id }}</td>
				<td>{{ entity.pdate|date('d/m/Y') }}</td>
				<td>{{ entity.author }}</td>
				<td>{{ entity.email }}</td>
				<td class="message">{{ entity.message }} {{ entity.fileview | raw }}</td>
				<td>
					<form method="POST" action="{{ path('delete_message',{'id':entity.id}) }}">
						<button class="decline"></button>
					</form>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
    <script src="/js/jquery.colorbox.js" type="text/javascript"></script>
    <script>
    $(document).ready(function(){
        $(".message").each(function()
        {
            var descr = $(this).text();
            var persons = descr.match(/\@\d+/g);
            if (persons != null) {
                values = persons.join(",").replace(/\@/g, "");
                
                $.ajax({
                    url: "{{ path('search_person_by_id') }}",
                    type: "POST",
                    data: {query: values},
                    success: function(response){
                        var person = JSON.parse(response).suggestions[0];
                        
                        $(".message").each(function(){
                            var text = $(this).text();
                            var regexp = new RegExp('\\@'+person.id, 'g');
                            if (regexp.test(text) )
                            {
                                $(this).html(text.replace(regexp, '<b><a href="/person/' + person.id + '">' + person.value + '</a></b>'));
                            }
                        });
                    }
                });
            
            }
            return descr;
        });
        
        $(".cbox").click(function(){
			$(this).colorbox(
			{
				href: $(this).attr('src'),
				width:"75%", 
				height:"75%",
				photo: "true",
				title: function()
				{
				var download = "<a href=\"" + $(this).attr('src') + "\" download class=\"btn btn-default\">{{ 'Download' | trans }}</a>";
					return download;
				}
			});
		});
    });
    </script>
{% endblock %}
