<!DOCTYPE html>
<html lang="en-EN">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}L'albar dai Fornes{% endblock %}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    <meta name='yandex-verification' content='7fcb296b3197a2df'/>
    <link rel='stylesheet' href='/css/style.css' type='text/css' media='all'/>
    <script type='text/javascript' src='/js/jquery.js'></script>
    <script type='text/javascript' src='/js/jquery-ui.min.js'></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body {% block invoke %}{% endblock %}>
<div class="container-fluid">
    <div id="sidebar-wrap">
        <div id="sidebar">
            <header id="masthead" class="clearfix" role="banner">
                <div id="site-title">
                    <img src="/img/tree.jpg">

                    <h1><a href="{{ path('index') }}" title="L'albar Dai Fornes">L'albar Dai Fornes</a></h1>

                    <div class="copyright">
                        albardaiforness<b>@</b>gmail.com
                    </div>
                </div>
            </header>

            <a href="#" id="mobile-menu-btn"><span>Menu</span></a>
            <nav id="site-nav" class="clearfix">
                <ul id="" class="main-menu">
                    <li class="back-button">
                        <a href="javascript:history.go(-1)"><img src="/uploads/back-button.png"><span>{{ 'Back'|trans }}</span></a>
                    </li>

                    <li><a href="{{ path('index') }}" class="menu-href menu-href1" id="search-link">{{ 'Home - Search'|trans }}<img class="short-search" src="/uploads/search.png"></a>

                        <form name="" id="short-form" method="post" action="{{ path('search_person') }}" class="form-inline hide" role="form">
                            <input type="text" id="anything" name="q" autocomplete="on" class="form-control">
                            <img class="short-search" src="/uploads/search.png">
                        </form>
                    </li>
                    <li><a href="{{ path("gallery_index") }}" class="menu-href menu-href2">{{ 'Gallery'|trans }}</a></li>{% if app.user %}
                    <li><a href="{{ path('person_new') }}" class="menu-href menu-href3">{{ 'Add person'|trans }}</a></li>{% else %}
                    {#<li><a href="{{ path('suggest') }}" class="menu-href menu-href4">{{ 'Suggest person'|trans }}</a></li>#}{% endif %}
                    <li><a href="{{ path('contacts') }}" class="menu-href menu-href4">{{ 'Contact'|trans }}</a></li>
                    <li style="line-height: 20px;">
                        <div class="counter">
                            {% if app.request.attributes.get('_route') != 'fos_user_security_login' %}
                                <div>
                                    <b>{{ visitors + 12264 }}</b> {{ 'Visitors'|trans }}
                                </div>
                                <div>
                                    <b>{{ pages + 74236 }}</b> {{ 'Pages'|trans }}
                                </div>
                            {% endif %}
                        </div>
                    </li>
                </ul>
                {% if app.user -%}
                <ul id="menu-sub-menu" class="second-menu logged">
                    <li><a href="{{ path('managers') }}">{{ 'Managers'|trans }}</a></li>
                    <li><a href="{{ path('admin_duplicates_search') }}">{{ 'Duplicates'|trans }}</a></li>
                    <li><a href="{{ path('changes') }}">{{ 'Changes'|trans }} {{ render(controller('TreeBundle:Default:getChangesNumber')) }}</a></li>
                    <li><a href="{{ path('messages') }}">{{ 'Messages'|trans }} {{ render(controller('TreeBundle:Default:getMessagesNumber')) }}</a></li>
                    <li style="position: relative;"><a href="/admin/_trans/">{{ 'Translation'|trans }}</a>
                        <button id="apply_language">{{ 'Apply'|trans }}</button>
                    </li>

                    <li><a href="/logout">Logout</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="translate-wrap">
            <div id="lang_sel_list" class="lang_sel_list_horizontal">
                <select onchange="location = this.options[this.selectedIndex].value;" class="form-control">
                    <option>{{ 'Language'|trans }}</option>
                    <option value="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'it'})) }}">{{ 'Italian'|trans }}</option>
                    <option value="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">{{ 'English'|trans }}</option>
                    <option value="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">{{ 'French'|trans }}</option>
                    <option value="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}">{{ 'Spanish'|trans }}</option>
                    <option value="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'pt'})) }}">{{ 'Portuguese'|trans }}</option>
                    <option value="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'de'})) }}">{{ 'German'|trans }}</option>
                </select>
            </div>
        </div>

        {#

        <div class="copyright">
            <div class="rprdev" style="float:left;text-align: left; font-size: 10px;">
                <a href="http://royalspr.com/" target="_blank">
                    <span class="rprtitle" style="font-size: 10px;">Разработка сайта</span>
                    <span class="rprcompany">Royal's PR</span>
                </a>
            </div>
        </div>#}
    </div>
    <div class="container-fluid">
        <div id="primary" class="site-content" role="main">

            <div class="container-fluid main" style="background: url('/uploads/files/{% if background is defined and background is not null %}{{ background.file }}{% endif %}') no-repeat;background-position: 0 0;-webkit-background-size: ;background-size: 100%;">
                {% block body %}
                    {% block container %}
                    {% endblock %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
</body>

<script type='text/javascript' src='/js/functions.js'></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-77495827-1', 'auto');
    ga('send', 'pageview');

</script>
<script>

    {% if app.user == "admin" %}
    $(document).ready(function () {
        $(document).on("click", '#apply_language', function () {
            $.ajax({
                url: "{{ path('translation_apply') }}",
                type: "POST",
                success: function (e) {
                    alert(e);
                    localStorage.clear();
                }
            });
        });
    });

    {% endif %}
</script>

{% block javascripts -%}
{% endblock %}
</html>