{% extends 'TreeBundle::base.html.twig' %}
{%- block title -%}
    {{ 'Gallery' | trans | capitalize }}
{%- endblock -%}

{% block body -%}
    <div class="gallery">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path("gallery_upload_file") }}" class="ajaxlink add_file">
                <img src="{{ asset("img/placeholder_image_upload.png") }}" alt="">
                <span>
                    {{ 'Add file' | trans }}
                </span>
            </a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            {% for image in images %}
                <a href="{{ path("gallery_edit_file", { 'id' : image.id }) }}" class="item ajaxlink file_{{ image.id }}">
                    <img src="{{ ('/uploads/files/' ~ image.file) | imagine_filter('gallery_thumb') }}">
                </a>
            {% endfor %}
        {% else %}
            {% for image in images %}
                <a href="{{ path("gallery_show_file", { 'id' : image.id }) }}" class="item ajaxlink file_{{ image.id }}">
                    <img src="{{ ('/uploads/files/' ~ image.file) | imagine_filter('gallery_thumb') }}">
                </a>
            {% endfor %}
        {% endif %}
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <script src="{{ asset('js/jquery.Jcrop.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/asgu.tagger.js') }}" type="text/javascript"></script>

        <script src="{{ asset("bundles/gallery/js/cropper.js") }}"></script>
    {% endif %}

    <script src="{{ asset('js/asgu.ajaxify.js') }}" type="text/javascript"></script>
{% endblock %}